[2021-07-13 01:14] ChristianChiarulli commented on #900
fixed on rolling

[2021-07-13 01:29] jicvi commented on #894
Thank you

[2021-07-13 01:31] jicvi commented on #894
@zethra
Thank you

[2021-07-13 01:32] #894 closed

[2021-07-13 01:32] kola-web opened #904 "[Feature]: Support wxml"
### Feature motivation

wxml is a language variant of html, used to develop WeChat applets

### Describe the expected solution

_No response_

### Describe the alternatives you've considered

_No response_

### Additional context

_No response_

[2021-07-13 01:33] zethra commented on #894
I miss-tagged the PR. It's for a different issue.

[2021-07-13 02:22] Pocco81 commented on #793
Huh? So no explanation for closing this issue?

[2021-07-13 02:32] Pocco81 commented on #901
Could you post the output of `:hi Comment` before and after entering a tmux session with nvim?

Also, make sure that you have `set -g default-terminal` in your *.tmux.conf*

[2021-07-13 03:09] kotx opened #907 "[Bug]: Install script does not check for Git in PATH"
### Problem description

[code]

### LunarVim version

0.4.7

### Neovim version (>= 0.5)

0.5.0

### Relevant log output

[code]

### Screenshots

_No response_

### I have

- [X] Read the readme
- [X] Read the wiki
- [X] Searched for similar issues

[2021-07-13 04:19] rafamadriz commented on #793
My apologies, I was going through all the issues and closing things not related to the LunarVim config. This is more of a packer/galaxyline/lazy loading problem. But you're 100% right, I should have said that.

Didn't this answer the original question ?

[2021-07-13 05:20] #900 closed

[2021-07-13 05:21] ChristianChiarulli commented on #856
one day, someday, there will be videos for this...

[2021-07-13 09:58] matthiasdebernardini commented on #734
Theres two main ways you could implement;
1) custodial
2) non-custodial

My recommendation would be to start custodial, then if its working out move up to non custodial.

Best custodial option is IMO https://twitter.com/lntxbot?lang=en

You can use LNURL to receive donations to your telegram wallet, then upgrade to https://github.com/lightningnetwork/lnd

[2021-07-13 10:34] gikari opened #910 "[Feature]: Project Management"
### Feature motivation

Every text editor oriented towards programmers and IDE has a notion of projects:
- VSCode has "Open Folders" feature
- JetBrains IDE has projects, that have various configurations associated with them

Since LunarVim is oriented towards programmers too, I think it should be delivered with that basic feature too.

### Describe the expected solution

LunarVim should have the

[2021-07-13 10:40] gnmearacaun opened #911 "[Bug]: Spacegray not transparent in all places when transparent_window is enabled"
### Problem description

set this in lv-config:
O.transparent_window = true
Most colorschemes are completely transparent.
Area below the status line is not transparent in spacegray.
Open nvimtree or telescope and they are not transparent, unlike other themes.

### LunarVim version

rolling

### Neovim version (>= 0.5)

NVIM v0.6.0-dev+5-g05330ba50

### Relevant log output

_No response_

### Scree

[2021-07-13 13:51] rebuilt commented on #461
Looks like lunarvim has changed while I was away.  The 'dofile' thing doesn't work anymore. In fact, most things are broken.  I've gotta get up to speed with the changes and rework the solution.

[2021-07-13 14:44] kotx commented on #907
I didn't have Git installed yet. I was just saying how there are checks for pip and node, but not for Git.

[2021-07-13 15:00] jvaverka commented on #158
Hitting a snag on this issue. Seems like this functionality requires something heavy like [coc](https://github.com/fannheyward/coc-markdownlint), [efm](https://github.com/mattn/efm-langserver#supported-lint-tools), [ale](https://www.rockyourcode.com/lint-your-markdown-files-in-vim/), etc. which I am pretty sure we want to avoid.

Is there a simpler way to just attach markdownlint-cli to neovim's n

[2021-07-13 15:31] rebuilt commented on #758
This strategy no longer works since lv-config is being pcalled

[2021-07-13 16:33] gnmearacaun commented on #758
What does it mean for managing profiles in a folder?

[2021-07-13 16:58] rebuilt commented on #758
@ChristianChiarulli Is there a plan for managing profiles in a folder?  I'm not sure it can be done through lv-config.lua since it is getting pcalled.  But maybe I'm wrong.

Can we put another entry point into init.lua for this purpose?  We can check for the existence of lv-user/init.lua and load it if it's there.  It would have to be loaded with the 'luafile' command for this to work.  This would

[2021-07-13 20:02] soerenmartius commented on #782
@colutti I can't find your PR? Could you post the link here? Many thanks

[2021-07-13 20:25] ChristianChiarulli commented on #758
@rebuilt I would really like to have a whole directory rather than just a file.

[2021-07-13 21:17] abzcoding commented on #295
I think [nvim-toggleterm](https://github.com/akinsho/nvim-toggleterm.lua) is the best candidate currently.

[2021-07-13 21:18] jvaverka commented on #423
@davibarreira @rebuilt - please review at your convenience.

[2021-07-13 22:13] abzcoding commented on #181
@weiss-d can you test if this fixes your issue or not :
add the following line to `lv-config.lua`

[code]

[2021-07-13 23:23] luxus commented on #461
I would prefer have the lv-config.lua in lua/lv-user/ (imho I still would prefer the name custom, but that's just me:D)
we could add support in the installer for automatically downloading a config `--user luxus` (defaulting to https://github.com/luxus/lv-user)

benefits would not have to symlink files and have a git repo with commits for a custom config.
sure we could have the file in the lua root

[2021-07-14 03:20] JuanVqz commented on #622
I had the same issue NeoVim is not able to open Explore after install lunar vim, in fact I removed lunar and tried to get **netrw** working again, and didn't work.

I ran the opposite of this line but didn't work.
https://github.com/ChristianChiarulli/LunarVim/blob/327955348174646e8f4c0eea62f9f25462f4ac28/lua/settings.lua#L55

[code]
I removed and reinstalled NeoVim in different versions but didn'

[2021-07-14 03:48] JuanVqz commented on #622
I solved it!! Yay!!

In my particular case LunarVim (or maybe neovim) creates a folder in this following path `~/.local/shared/nvim`.

I just changed its name and reopen neovim then execute `:Explore` and it works.
then I removed the folder.

thank you for LunarVim, it's pretty good.

[2021-07-14 04:39] ChristianChiarulli commented on #777
we need a minimal flag, that just copies a config with none

[2021-07-14 05:27] weiss-d commented on #181
Yep, that works. Thanks a lot!

[2021-07-14 05:27] #181 closed

[2021-07-14 05:29] ChristianChiarulli commented on #181
@abzcoding should this be a default?

[2021-07-14 06:12] abzcoding commented on #181
probably yeah, the treesitter indent is a bit unstable

[2021-07-14 07:31] colutti opened #926 "[Bug]: Galaxyline error after pulling from master - Missing variable"
### Problem description

I just pulled the latest master and after opening nvim I get this error and nothing else loads:

/Users/rafaelcolucci/.config/nvim/lua/plugins.lua:150: attempt to index field 'galaxyline' (a nil value)

It seems that this variable is not declared anywhere:

![image](https://user-images.githubusercontent.com/9368892/125581250-2e42a089-6bfe-4322-8cc5-f9634e8f49ae.png)

I tri

[2021-07-14 07:32] abzcoding commented on #552
Right now it is as simple as it could be :sweat_smile:

[2021-07-14 07:32] #552 closed

[2021-07-14 07:35] abzcoding commented on #553
https://github.com/LunarVim :tada: :partying_face:

[2021-07-14 07:35] #553 closed

[2021-07-14 07:39] abzcoding commented on #608
This process has been documented in the [wiki](https://github.com/ChristianChiarulli/LunarVim/wiki/Enabling-a-language-server)

[2021-07-14 07:39] #608 closed

[2021-07-14 07:41] abzcoding commented on #613
try updating your neovim and using the latest `master` branch, if the problem still exists, feel free to reopen this issue

[2021-07-14 07:41] #613 closed

[2021-07-14 07:46] abzcoding commented on #620
as describe [here](https://github.com/ChristianChiarulli/LunarVim/issues/553#issuecomment-871892568) we're going to keep core plugins to a minimum and tackle these additions using [LunarModules](https://github.com/ChristianChiarulli/LunarVim/wiki/WIP:-Lunar-Modules) or a LV market place

[2021-07-14 07:46] #620 closed

[2021-07-14 07:51] colutti opened #927 "[Bug]: Switching files with TAB not working"
### Problem description

TAB does not work because the keymaps are commented:

![image](https://user-images.githubusercontent.com/9368892/125584323-bd56027f-7e31-4037-9e70-887803924816.png)

It used to work in previous versions

### LunarVim version

Master

### Neovim version (>= 0.5)

NVIM v0.6.0-dev+1501-g9c7e04eb3

### Relevant log output

_No response_

### Screenshots

_No response_

### I h

[2021-07-14 08:00] abzcoding commented on #741
@nathanielks the formatting/linting has changed a lot recently
can you update pull the latest or install it again and check if it works or not:
also, [wiki](https://github.com/ChristianChiarulli/LunarVim/wiki/Formatters-and-Linters) has been updated
and a couple of examples has been added to `lv-config.lua` e.g:
[code]

I'm closing this issue for now, but feel free to reopen it this didn't help yo

[2021-07-14 08:00] #741 closed

[2021-07-14 08:03] abzcoding commented on #779
@arxra we're currently overhauling the lsp stuff, so it will change a lot till the end of the month
feel free to reopen this issue if it was not satisfactory after those changes

[2021-07-14 08:03] #779 closed

[2021-07-14 08:05] abzcoding commented on #782
@soerenmartius we've overhauled the formatters and added support for terraform last night, can you pull the latest changes and check if the issue is resolved or not?

[2021-07-14 08:07] abzcoding commented on #808
@binnz we've overhauled the auto-completion, can you pull the latest changes from `master` or `rolling` and check if the issue is resolved or not?

[2021-07-14 08:08] abzcoding commented on #927
yes Chris has changed them to `shift+h` and `shift+l` so that we could use `tab` for autocomplete

[2021-07-14 08:09] colutti opened #928 "[Bug]: <Leader>gg not opening LazyGit"
### Problem description

And it does not show on WhichKey.

### LunarVim version

Master

### Neovim version (>= 0.5)

NVIM v0.6.0-dev+1501-g9c7e04eb3

### Relevant log output

_No response_

### Screenshots

_No response_

### I have

- [X] Read the readme
- [X] Read the wiki
- [X] Searched for similar issues

[2021-07-14 08:12] abzcoding commented on #926
@colutti galaxyline is now enabled by default, you don't need to do anything with it.

also a lot of variables has been renamed, please refer to `README.md` or `utils/installer/lv-config.example.lua`
or check `lua/default-config.lua` for more info

[2021-07-14 08:13] colutti commented on #927
@abzcoding thanks. Where is the keymap defined?

[2021-07-14 08:23] colutti commented on #926
@abzcoding Yes, but the plugins file is still pointing to a variable that does not exist. Look at the plugins.lua file at line 150.

[2021-07-14 08:25] abzcoding commented on #927
`lua/code///bufferline.lua`

[2021-07-14 08:26] abzcoding commented on #926
that variable  is defined inside `lua/core/status_colors.lua`

[2021-07-14 08:27] abzcoding commented on #928
add this to your `lv-config.lua` and test it again:
[code]

[2021-07-14 08:30] colutti commented on #926
@abzcoding I just download the master branch and started from scratch. It does not work. Could you do the same please?

[2021-07-14 08:31] abzcoding commented on #926
on it ...

[2021-07-14 08:35] colutti commented on #928
It worked. Thanks.

[2021-07-14 08:38] colutti commented on #927
@abzcoding thank you.

[2021-07-14 08:38] #927 closed

[2021-07-14 08:38] #928 closed

[2021-07-14 08:40] colutti commented on #926
You cloned the rolling branch, not the master :)

[2021-07-14 08:42] abzcoding commented on #926
:facepalm:  nah I just copied the wrong command here I actually used the `master` branch

[2021-07-14 08:44] abzcoding commented on #926
![galax](https://user-images.githubusercontent.com/10992695/125592215-14257137-14cf-44b0-8fab-46725360694a.png)

[2021-07-14 08:55] abzcoding commented on #882
@iapicca do you still face this issue? Cause I think I remember it being fixed in last night's stream

[2021-07-14 08:56] iapicca commented on #882
Yesterday was still there even after reinstalling , I'll watch the stream, do you have a timestamp?

[2021-07-14 08:57] abzcoding commented on #869
@reflog can you test it again after pulling the latest changes?
also can you add these lines to your `lv-config.lua`:
[code]

[2021-07-14 09:00] abzcoding commented on #882
:facepalm: my bad, I think it was another issue, so we keep this open for now

[2021-07-14 09:03] colutti commented on #926
Yes, I just did it again and it worked. Not sure what happened. Sorry

[2021-07-14 09:03] #926 closed

[2021-07-14 09:05] abzcoding commented on #926
np man, sorry if we're moving too fast and breaking stuff too often :sweat_smile:
hopefully, we can achieve a stable `1.0` release by the end of July

[2021-07-14 09:06] reflog commented on #869
@Uzaaft :
[code]

@abzcoding - pulled in last changes. same result: (though now instead of  'filetype unknown' I see TODO: diff parser)

![image](https://user-images.githubusercontent.com/109876/125595330-94b433ad-4a61-4b7b-8ad1-c19e9049fb28.png)

[2021-07-14 09:08] reflog commented on #869
@abzcoding - let me know if I can provide any other info to help debug this

[2021-07-14 09:10] abzcoding commented on #869
Thank you, can you point me toward a sample project (that has the issue) to test it locally?

[2021-07-14 09:11] Uzaaft commented on #869
Could you take a backup of your current config, and do a clean install of LunarVim?
After installing, can you do the following:
Run the `:LspInstall rust` command on Neovim

[2021-07-14 09:14] Uzaaft commented on #869
I'm using LunarVim in a rust project as we speak, and I've it's working like a charm with the steps I've mentioned above.

[2021-07-14 09:25] reflog commented on #869
@abzcoding - https://github.com/reflog/rust-crash-repro

@Uzaaft - thanks, tried that, nuked my config, created lv-config.lua with only
[code]
did `LspInstall rust`

Same result:
![image](https://user-images.githubusercontent.com/109876/125598278-6e12a93a-23d6-4225-a200-dd8dda536a05.png)

[2021-07-14 09:29] Uzaaft commented on #869
Works perfectly fine with my setup:
![image](https://user-images.githubusercontent.com/48220549/125598829-7b757a63-91ef-4498-932d-da4f870daa77.png)

[2021-07-14 09:30] abzcoding commented on #869
I assume this is the expected behavior, but you're getting `proc macro server crashed` instead

![rust](https://user-images.githubusercontent.com/10992695/125598799-f75e7b3c-f688-4c4d-ae8a-4bcc2b6a39c0.png)

[2021-07-14 09:32] Uzaaft commented on #869
@reflog Did you wipe the `../share/nvim` folder?
I'm running the 2021-07-12 version, could you see if that's the case for you as well?

[2021-07-14 09:33] abzcoding commented on #869
@reflog [this](https://github.com/rust-analyzer/rust-analyzer/issues/8925) is probably your issue,
which is fixed [here](https://github.com/rust-analyzer/rust-analyzer/pull/9550)

[2021-07-14 09:34] Uzaaft commented on #869
While you're at it, could you run `rustup update`?

[2021-07-14 09:42] reflog commented on #869
@Uzaaft , I did `rustup update` and downloaded the same version of analyzer as you
`rust-analyzer fe0035888 2021-07-12 stable`

Still it crashes :(
[code]

But I don't think this is anything with LunarVim, so I think we can close this issue. Just have to wait for rust-analyzer to stabilize :(

Thanks for your help though!

[2021-07-14 09:45] Uzaaft commented on #869
Yeah I agree. You can go ahead and close it. But I still want to figure out why it behaves different on your machine.
Are you by any chance running Linux?

[2021-07-14 09:45] abzcoding commented on #869
not a LV issue, probably related to [this](https://github.com/rust-analyzer/rust-analyzer/issues/8925) which is [merged](https://github.com/rust-analyzer/rust-analyzer/pull/9550) 20 hours ago

[2021-07-14 09:45] #869 closed

[2021-07-14 09:49] reflog commented on #869
@Uzaaft aaaaaaaa. I am a morron. Forgot that I was on nightly :(

Switched to stable - all is great. Thanks again fellas!

[2021-07-14 09:51] Uzaaft commented on #869
Dang it! I thought about asking that at the beginning, but I saw that rust-analyser was stable so I assumed everything was all good.
Lesson learnt: Listen to your gut

[2021-07-14 09:58] Uzaaft commented on #825
@w-r-z-k  Can you follow the guide that radamdriz links to?

[2021-07-14 10:55] rafamadriz commented on #622
Awesome, that's a pretty weird behavior. Never seen that happen and I don't why removing that folder world fixed since netrw is a built-in plugin but nice to see you fixed it.

[2021-07-14 11:15] im-AMS opened #930 "set to don't use default clipboard as default?"
### Problem description

Hi
I would want to change the default behaviour as mentioned above.
It gets annoying when what ever I delete or yank in vim, it shows up in my clipboard.

Instead I would want to map `<Leader>y` to copy to system clipboard and `<Leader>v` to paste from system clipboard.

**What have I tried**
- `vim.api.nvim_set_keymap('','<Leader>y', '"+y',{})`
    This doesn't work at al

[2021-07-14 11:24] abzcoding commented on #930
for changing the clipboard behavior add this to your `lv-config.lua` and change it to whatever you like:
[code]

[2021-07-14 11:36] abzcoding commented on #812
in case anyone wants to change it until the upstream is merged, add this to your `lv-config.lua`
[code]

[2021-07-14 13:14] JuanVqz commented on #622
I feel like vim's plugins are downloaded like we do with `packer` or `vim-plug` but internally and we didn't know.
@rafamadriz thank you!

[2021-07-14 13:42] arxra opened #933 "[Bug]: Python isort does not run"
### Problem description

Setting `O.lang.python.isort = true` does not run isort when the file is formatted.
Running `isort pythonfile.py` does format the file with isort as intended with the settings in `~/.isort.cfg`

### LunarVim version

Rolling

### Neovim version (>= 0.5)

NVIM v0.6.0-dev+f515baedc Build type: Release LuaJIT 2.1.0-beta3 Compilation: clang -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=

[2021-07-14 13:50] shauryagoel0 commented on #933
isort does not work for me too. Also, gruvbox is not working saying gruvbox not found. My neovim version is v0.6.0-dev.

[2021-07-14 14:01] soerenmartius commented on #782
It works now! Thanks!

[2021-07-14 14:01] #782 closed

[2021-07-14 14:19] arxra commented on #933
@shauryagoel0 gruvbox not found sounds a lot like you're not installing gruvbox in your lv-config.lua

[2021-07-14 14:27] JakobMielke opened #936 "[Bug]: vim.cmd not respected in lv-config.lua"
### Problem description

I was trying to set some ```set```'s and ```let```'s with ```vim.cmd``` like this:
[code]
however they seem to be ignored when opening a new instance of nvim ( Checked by running ```:set expandtab?```and ```set spell?``` , respectively).

### LunarVim version

0.4.8

### Neovim version (>= 0.5)

0.5.0

### Relevant log output

_No response_

### Screenshots

_No response_

[2021-07-14 14:30] shauryagoel0 commented on #933
@arxra  I only set O.colorscheme = "gruvbox" in the base lv-config.lua. Do we need to install it separately? Isn't it installed automatically by default via nvcode-color-schemes.vim?

[2021-07-14 14:36] arxra commented on #933
`nvcode-color-schemes.vim` is no longer installed by default, so if you want gruvbox you need to install it in you `lv-config.lua` under `O.user_plugins` as `ChristianChiarulli/nvcode-color-schemes.vim` (see readme for exact formattin), but please do not hijack a public issue about something that is unrelated

[2021-07-14 14:40] rebuilt commented on #936
settings.lua gets called after lv-config.lua.  So one of the problems is that settings will be overwritten by the defaults defined in default-config.lua

You can use the following format to set options defined in O.default_options  (~/.config/nvim/lua/default-config.lua)

[code]

Are the other options being set correctly?

[code]

[2021-07-14 14:49] JakobMielke commented on #936
As far as I can tell they are (via ```:echo [option]```)

[2021-07-14 14:52] Dulanjala007 commented on #804
Yeah, that would super helpful..
manual install is a cumbersome, most difficult part is to setup the binaries like Fzf, rg on windows
got it working on windows now, it's awesome..

[2021-07-14 14:58] rebuilt commented on #933
What's the output of :LspInfo

[2021-07-14 15:10] arxra commented on #933
[code]

[2021-07-14 15:17] im-AMS commented on #930
Hey I was on Branch Stable, But i did reinstall to rolling.
The <Leader>y works, but the regular yanks(like yy, or dd) still end up at my system clipboard, which I don't want.
How do I change that?
I want to store in system clipboard ONLY if i use `<Leader>y` or `<Leader>p`

[2021-07-14 15:27] arxra commented on #933
From https://gitlab.com/arxra/wattah/-/blob/master/main.py , the imports after formatting and pushing are
[code]
and if you run isort outside of neovim (lunarvim?)
[code]
which is what I would expect.

[2021-07-14 16:42] abzcoding commented on #930
the same config should exactly do that :thinking: maybe try setting the clipboard = "" instead of "unnamed"

[2021-07-14 16:54] rebuilt commented on #933
Formatting and linting stuff seems to be changing really quickly.   I'm not sure it's working right now.

In the meantime use this command to run isort on the file within neovim.

[code]

[2021-07-14 17:19] abzcoding commented on #936
for the `let g` stuff use this syntax:
[code]

also put those `vim.cmd("set sth")` inside `~/.confg/nvim/lv-config.lua`

[2021-07-14 17:20] mattcoker opened #942 "[Bug]: Color-scheme switching doesn't work when switching back to nvcode-color-schemes options"
### Problem description

This happens on a fresh install of the rolling branch at this time. Not sure if I'm just dumb here but this seems like it should work.

1. Open a file with the default color scheme
2. Run `:colorscheme blue` or any color scheme you want
3. Run `:colorscheme spacegray`
4. Observe the color scheme DID NOT change
5. Run `:colorscheme default` or any built-in color scheme
6. O

[2021-07-14 17:20] im-AMS commented on #930
That almost works!!
<Leader>y does not use system clipboard in VISUAL mode, i.e, when I select with visual mode and press <leader>y it doesn't place in system clipboard.

[2021-07-14 17:29] abzcoding commented on #930
we can fix that as well :sweat_smile:  add these to your `lv-config.lua`:
[code]

[2021-07-14 17:36] abzcoding commented on #936
instead of
[code]
use
[code]

[2021-07-14 17:38] abzcoding commented on #933
@arxra at the moment formatting is done via `formatter.nvim` using `yapf` so the `efm` stuff is probably not fully functional right now, however, we're trying to re-structure the formatters so stay tuned :)

[2021-07-14 18:34] vlcinsky opened #944 "[Feature]: Autogenerate lv-config.example.lua"
### Feature motivation

As used plugins are added/removed/refactored, it is hard to keep existing `lv-config.example.lua` up to date.

Having a tool to generate up to date example of such file would help.

### Describe the expected solution

Create a neovim command or CI/CD task, which takes existing content of lunarvim directory, picks all to `O.something.option.parameter` stuff togather with wel

[2021-07-14 18:59] JakobMielke commented on #936
Thanks for your help, however ``` O.default_options.spell = false ``` does not disable spellcheck.

[2021-07-14 19:43] abzcoding commented on #936
are you facing this issue in a markdown file or all filetypes?
cause inside `lua/lv-utils/init.lua` we have this:
[code]

[2021-07-14 19:52] luiskumul commented on #724
I managed to make it work by installing go and then installing efm

#### Archlinux
`sudo pacman -Syu go`

[2021-07-14 19:56] Pasqat commented on #724
Tank you, but the problem was related to the go packages that is resolved now.
I'm having still trouble to make work tailwindcss-ls

[2021-07-14 20:32] JakobMielke commented on #936
Thanks for your comment @abzcoding, I should have checked the filetype of my markdown file, because vim-pandoc set the filetype to pandoc

[2021-07-14 20:46] jonathan-raines opened #945 "[Bug]: No Diagnostics on Ruby"
### Problem description

- Using rbenv as Ruby version manager
- Using 2.7.1
- gem install solargraph, gem install rails
- LspInstall solargraph

I no longer have diagnostics on Ruby files. I have not modified any of the Ruby settings in default-config.lua. Also how could I switch back to using Rubocop? I have a rubocop.yml file that used to be sourced for linting and formatting and all of this ha

[2021-07-14 21:10] vlcinsky opened #946 "[Feature]: How to quickly open file sibling which is out of current nvimtree root"
### Feature motivation

cd to `~/.config/nvim` and use nevim to open `lv-config`

Use `:e ~/.bashrc` to open it

Try to open `~/.aliases` (which happens tto be sibling of currently open file)

## Using nvim_tree
Using `<space>e` open nvim_tree, go up two directories and find there the `.aliases file`

This requires at least 5 keystrokes to get to the user home dir.

## Using `:Explore`
(assuming `

[2021-07-14 21:26] abzcoding commented on #936
I am closing the issue, feel free to reopen it in case you had any other questions related to `vim.cmd` in `lv-config.lua`

[2021-07-14 21:26] #936 closed

[2021-07-14 21:27] abzcoding commented on #945
for changing the formatter, you can do this
[code]

[2021-07-14 21:31] abzcoding commented on #946
if you want that plugin, simply add the following to your `lv-config.lua`
[code]
for more info check out the [wiki](https://github.com/ChristianChiarulli/LunarVim/wiki/Example-plugin-configurations)

[2021-07-14 21:36] abzcoding commented on #944
there is already a [file](https://github.com/ChristianChiarulli/LunarVim/blob/rolling/utils/installer/lv-config.example.lua) that is kept up-to-date and is the default file for new installations.

[2021-07-14 21:53] vlcinsky commented on #946
@abzcoding I have it already as you propose.

Anyway, as the `vim-vinegar` is using `netrw#Explore` function to show directory listing, it does not work currently.

I get an error `E117: Unknown function: netrw#Explore`

[2021-07-14 22:11] abzcoding commented on #946
added the pr for it, that way you can disable only what you want:
[code]

[2021-07-14 22:21] vlcinsky commented on #944
@abzcoding I am aware of that file.

Anyway, quick check of available options shows, there is cca 170 unique values which can be set:

[code]
I guess it is not easy to present all of them in the sample file.

Anyway, I guess, the time to evaluate if autogeneration is feasible is after the codebase gets a bit more stable.

[2021-07-14 22:26] abzcoding commented on #944
@vlcinsky probably yeah, right now a lof stuff are moving around, also we're planning to have [lunar modules](https://github.com/ChristianChiarulli/LunarVim/issues/553#issuecomment-871892568) so we might tackle this after 1.0 release

[2021-07-14 22:46] vlcinsky commented on #946
@abzcoding thanks for the PR.

Anyway, there is still an issue with nvim_tree, I had to modify `lua/core/nvimtree.lua` with:

[code]
otherwise the problem was still present.

The question is weather these values shall be constant or they shall be configurable via user options.

[2021-07-14 22:52] abzcoding commented on #946
there is a [PR](https://github.com/ChristianChiarulli/LunarVim/pull/769) for making nvim-tree user configurable

[2021-07-14 23:11] dfontana commented on #942
Experiencing a similar issue. I just updated to release [`0.4.8`](https://github.com/ChristianChiarulli/LunarVim/releases/tag/0.4.8) (so master branch) and found the `gruvbox` theme I was using bad broke :( I can no longer see those color schemes either in the `:Telescope colorscheme` selector. It looks like these themes were removed: https://github.com/ChristianChiarulli/nvcode-color-schemes.vim

[2021-07-14 23:21] shinze opened #950 "[Bug]: 404: Not Found on the curl command added recently to the readme"
### Problem description

Tried to update with what is written on the readme, used

[code]

Had a `404: Not Found` response.

### LunarVim version

Latest

### Neovim version (>= 0.5)

v0.6.0-dev+28-g1c4168928

### Relevant log output

_No response_

### Screenshots

<img width="685" alt="image" src="https://user-images.githubusercontent.com/218396/125705048-cc8f5d17-db3c-4cce-9239-dc2865456653.png

[2021-07-15 00:10] abzcoding commented on #950
@shinze please remove the extra `\` near the `|`, that is not in the command

[2021-07-15 02:18] JulianTao opened #953 "[Feature]: Add R support"
I was following the updates and just want to thank all for the great project!

Would love to see language support for R. I got it partially work following the suggestions from Nvim-lspconfig but there are many details that I could not figure out (newbie in lua and programming in general).
Thanks in advance.

[2021-07-15 02:30] mandaputtra opened #954 "[Bug]: Error on Clojure LSP"
### Problem description

I found a new error with the update,

1. Fresh install lunarvim
2. Run this command

[code]

3. Set config file

[code]

4. Open typescript file

[code]

5. Open and save lua file

[code]

6. Open Clojure File

[code]

[code]

Maybe the clojure doesnt have plugin configuration, how do I make it? Just add `ftpplugin/clojure.lua` with responded config

### Check the followin

[2021-07-15 03:11] im-AMS commented on #930
that doesn't seem to work 😅

[2021-07-15 03:26] eo1989 opened #956 "[Feature]: REPL"
### Feature motivation

Frustrated with the lack of REPL support in lunar vim. There are plenty of great vim-REPL plugins one could use; Zepl.nvim, Iron.nvim, conjure, vim-slime/neoterm/insert-your-terminal-plugin{already using one}-here.

### Describe the expected solution

_No response_

### Describe the alternatives you've considered

_No response_

### Additional context

_No response_

[2021-07-15 04:29] MatthiasX86 commented on #956
I second this

[2021-07-15 04:48] arxra commented on #933
@abzcoding Sounds good to me! Lets keep this as a reminder/tracker then, since the option is in the README/example configuration (Maybe change that in the readme while this is a known issue?)

[2021-07-15 04:50] arxra commented on #953
Seems very similar to #328, Would that resolve this one as well?

[2021-07-15 04:56] glenn-logivan commented on #627
same error got on fresh install:
`E5113: Error while calling lua chunk: /Users/glennleo/.config/nvim/lua/settings.lua:25: attempt to index local 'opt' (a nil value)Press ENTER or type command to continue`

[2021-07-15 05:10] ChristianChiarulli opened #957 "Contest: Propose a Default Colorscheme"
LunarVim needs a good default colorscheme, spacegray is ok but it's nothing special.

I will leave this thread up until maybe end of August mid September and choose the best theme proposed.

The theme should be a good **default** theme so while nord and synthwave are cool I don't think they have what it takes to be the default. Think darkplus, oceanic and onedark.

[2021-07-15 05:26] ChristianChiarulli commented on #944
once the contract is finalized for 1.0 this is a great idea.

[2021-07-15 05:27] JulianTao commented on #953
Interesting it seems it was merged originally,   but somehow it was deleted in later updates?

[2021-07-15 06:20] Uzaaft commented on #953
How do you get that #328 was merged originally?
It says right there that Christian would merge it only if someone could confirm that it works.
@JulianTao Could you go ahead and the fork, to see  if it works? If so, tag Christian, and inform him if it works. If it doesn't work, tag fanmih

[2021-07-15 06:25] Uzaaft commented on #143
@ChristianChiarulli Is it sufficient to just go ahead and copy the lines in the screenshot, or is there something else one need to take in consideration when implementing this that I am not seeing?

[2021-07-15 06:43] shinze commented on #950
It’s in the command when I use the 'copy' widget Github offers on that code block.

[2021-07-15 07:30] Tastyep commented on #950
That's surprising because when I try it I don't have it and the [raw](https://raw.githubusercontent.com/ChristianChiarulli/LunarVim/rolling/README.md) version doesn't contain it either

[2021-07-15 08:21] abzcoding commented on #950
@shinze that is a known mac + zsh [issue](https://stackoverflow.com/questions/25614613/how-to-disable-zsh-substitution-autocomplete-with-url-and-backslashes#25622864) **not a LunarVim issue**.
Basically, when you copy things to mac terminal , the pipes get escaped with `\`

[2021-07-15 08:21] #950 closed

[2021-07-15 08:41] Araly opened #960 "[Feature]: Keybindings rant and other annoyances"
### Feature motivation

Hi, I've been using LunarVim for work for a while now, and I tried following the development of it, tried to understand the configuration files and how things work, and I've lately been bringing up issues I had with it to the Discord. From there I was told to post an issue about all that. I'll try to bring here all the little things I could find. I understand that things ar

[2021-07-15 08:42] abzcoding commented on #954
@mandaputtra `colorizer` plugin has been removed from LunarVim, check your `lv-config.lua` line 25 and comment the problematic line

[2021-07-15 09:02] Araly opened #961 "[Bug]: Go to references window doesn't show the references when the cursor is on them"
### Problem description

1. have a go project (or maybe some other kind of project)
2. write a function
3. call that function from another place or file in that same project
4. press g+r to go to references
5. see the references window appear with two lines, one for where you define that function, one for where you call it
6. move cursor up and down the references list
7. see that it fails to do a

[2021-07-15 09:30] rebuilt commented on #960
I'll work on overrideable configurations for the core plugins

[2021-07-15 09:30] rebuilt commented on #960
I won't do anything about the keybindings for the moment.

[2021-07-15 10:59] abzcoding commented on #953
@JulianTao can you test #965 to make sure it works for you?

after installing dependencies, use `<leader>lf` for formatting, or `:Format` for verbose formatting

[2021-07-15 11:20] gukz opened #966 "[Feature]:"
### Feature motivation

I am a super heavy user of `H` and `L`, to jump my cursor to the top and bottom of my screen, but lunar vim modified these keys.
And I have my own which-key bindings, I tried to modify them in lv-config.lua, but not all of them can be modify.
Also, plugins I cannot disable them at all...

### Describe the expected solution

I hope to control each feature in lv-config.lua, i

[2021-07-15 11:25] jameswalmsley commented on #874
Now that support for cwd is merged into formatter.nvim...
#967 addresses this for c/cpp.

[2021-07-15 11:29] Araly commented on #960
for the keybindings if I have some time I could look into them. adding comments to explain what they do would be nice, but maybe I can find a better way to write them that doesn't make them rely on other keybinds.

I could also look into making stuff more discoverable (at least the ones I know) but that would mean changing them, which is always a subjective thing.

for example to be able to use C-

[2021-07-15 11:33] rebuilt commented on #960
The code that sets the keybindings needs to be extracted from the table of keybindings.  Then you need to pass either the default table or the user keybind table to create the keybindings.  I have a rough outline of how that should look, but it needs a little more thought, so I'm just going to start with the configs for now.

[2021-07-15 11:48] ChristianChiarulli commented on #966
this is very doable

[2021-07-15 11:50] ChristianChiarulli commented on #961
like with bqf?

[2021-07-15 13:06] Cthutu opened #972 "[Bug]: Can't run the rust LSP server"
### Problem description

Hi tried:

1) `:LspInstall` then \<TAB> did not produce any list on my Linux OS.
2) `:LspInstall rust` did something and I also think it downloaded `rust-analyzer`
3) Opened a .rs file, screen says LSP Inactive
4) Trie `LspInfo` and it says `No filetypes defined, please define filetypes in setup().`

At this point I am stuck.  What is `setup()`?  Which file is that in?  Pe

[2021-07-15 13:19] jonathan-raines commented on #945
Running rubocop in that fashion runs the linter and checks for errors. I used to receive diagnostics from the LSP depending on the `.rubocop.yml` file for the project. E.g. line too long. Format on save used to fix most, if not all of those errors for me. Now I don't receive any type of diagnostics from the LSP.

`:echom &filetype = ruby`

[2021-07-15 13:22] UltimateOmega commented on #957
I would suggest github-nvim-theme:
https://github.com/projekt0n/github-nvim-theme

[2021-07-15 13:31] abzcoding commented on #945
can you provide your `~/.cache/nvim/lsp.log` so i can dig deeper

[2021-07-15 13:45] abzcoding commented on #972
@Cthutu can you test the following scenario:

[code]
and let me know if the `:LspInfo` command works or not.

[2021-07-15 14:05] eo1989 commented on #961
Check out "any jump" or "goto-preview" plugins. With this obsession the devs have over 2-3 milliseconds of load time they've removed a lot of good functionality. Just keep a list of your own plugins you want to use and add them after they get a stable build, or fork the project and develop your own branch.

[2021-07-15 14:20] Araly commented on #961
I have no idea, I'm new to neovim, I don't know what other plugins exist. If I remember correctly, the behavior I'm expecting is something we had in lunarvim a few weeks ago. I think the keybind called a function you could call from the : prompt, like :LspReferences or :LspDefinition. I remember also having bound a key to :LspFormating

I went to my old config and I found the plugin that was used

[2021-07-15 14:30] ivano9 opened #975 "[Bug]: go to definition across files."
### Problem description

On erlang proyect not working g-d for jump to a definition to another file
1. Define a function
2. Call the function in another file
3. put the cursor over function called
4. press g-d

Result: no jump to definition.
Expected: open the file and put the cursor over definition function

### Check the following

- [X] I am in a git managed directory
- [X] I restarted Neovim a

[2021-07-15 14:59] kylo252 commented on #960
Most of what your complaints require adding some QoL utility functions, which we need to come up with.
However, check my comment here about modifying which-key bindings:

https://github.com/ChristianChiarulli/LunarVim/pull/973#issuecomment-880749128

That doesn't exactly solve all the problems, but I'll try to post any useful tips I can think of.

[2021-07-15 15:47] jonathan-raines commented on #945
[lsp.log](https://github.com/ChristianChiarulli/LunarVim/files/6824508/lsp.log)
``

[2021-07-15 16:27] abzcoding commented on #945
@jonathan-raines  can you test this :pleading_face:
[code]
are you able to see this diagnostics?
![diag](https://user-images.githubusercontent.com/10992695/125822934-75dfbf52-7dbb-43fb-8d0a-3cf54b0a43bf.png)

[2021-07-15 17:02] ChristianChiarulli commented on #975
does erlang lsp support this?

[2021-07-15 17:17] nicenemo commented on #777
All would get you to hunt down all crap like with SpaceVIM. I would suggest maintained.

[2021-07-15 17:22] mandaputtra commented on #954
Thanks, @przbadu  Lua configuration problem solved,

Now it only 2 problems :

1. How to turn on autoformat for typescript project from `lv-config`
2. How to make Clojure LSP Working

[2021-07-15 17:24] ivano9 commented on #975
yes, before update lunarvim was working.

[2021-07-15 17:27] ChristianChiarulli commented on #975
ok I'll take a closer look

[2021-07-15 17:31] reflog commented on #975
same with clojure. lsp is working, but 'gd' doesn't.

[2021-07-15 17:34] ChristianChiarulli commented on #975
I don't think erlang was implemented for some reason, must have gotten lost in the refactor, it is on rolling now.

[2021-07-15 17:35] ChristianChiarulli commented on #975
I'll look into clojure as well

[2021-07-15 17:35] Cthutu commented on #972
Thanks for responding.

I get the same error about no filetypes defined.

[2021-07-15 17:37] abzcoding commented on #954
@mandaputtra

1. First off install dependencies for typescript lsp using the following command inside neovim:
`:LspInstall typescript`
after that install `prettier`  either locally or globally.
in the end by add `O.format_on_save = true` to your `lv-config.lua` you can achieve autoformat

2. by running the following command inside neovim:
`:LspInstall clojure`

[2021-07-15 17:39] Cthutu commented on #972
![image](https://user-images.githubusercontent.com/348614/125832249-e25c3ab1-e2d3-4ced-b718-241b5e7e81b4.png)

[2021-07-15 17:39] ChristianChiarulli commented on #972
![image](https://user-images.githubusercontent.com/29136904/125832641-d8741f01-f29f-420c-9499-f8101f623241.png)

![image](https://user-images.githubusercontent.com/29136904/125832679-dbb56a06-df2c-4e2d-932f-06647c57720e.png)

rust analyzer is what works for me.

[2021-07-15 17:40] ChristianChiarulli commented on #972
you have no root detected, thats your problem

[2021-07-15 17:40] Cthutu commented on #972
What does that mean?

[2021-07-15 17:42] ChristianChiarulli commented on #972
https://github.com/neovim/nvim-lspconfig/blob/master/CONFIG.md#rust_analyzer

hmm it doesn't seem to pick up on that. could you post project structure?

[2021-07-15 17:44] abzcoding commented on #972
@Cthutu
in the mean time test adding
[code]
to your `lv-config.lua` and see if that helps with anything

[2021-07-15 17:44] Cthutu commented on #972
My structure is a basic hello world structure.  A `Cargo.toml` and a `src/main.rs`.  Nothing special.

[2021-07-15 17:46] Cthutu commented on #972
The last screenshot I did was on the ascii examples that another poster suggested.  On my very simple hello world structure:
![image](https://user-images.githubusercontent.com/348614/125833542-95e72c9a-405c-4745-9a21-ad1c65dd4e47.png)

The edit to `lv-config.lua` didn't seem to help.

[2021-07-15 17:48] abzcoding commented on #972
can you provide your `~/.cache/nvim/lsp.log`

[2021-07-15 17:49] Cthutu commented on #972
I did lose syntax highlighting.

[code]

[2021-07-15 17:51] abzcoding commented on #972
can you run a `:PackerSync` just to be sure

[2021-07-15 17:53] Cthutu commented on #972
Promising:
![image](https://user-images.githubusercontent.com/348614/125834345-3b659519-0668-4b83-b12a-3da72e32b02d.png)

It works!!!  It seems that you are required to run that command on my system.  For you information, I built neovim from source code and then immediately installed Lunarvim.

[2021-07-15 17:54] Cthutu commented on #972
Thanks for your help.  This issue is closed.

[2021-07-15 17:54] #972 closed

[2021-07-15 17:55] Cthutu commented on #972
For future reference, how do you get the current version of Lunarvim?  Perhaps this should be on the splash screen?

[2021-07-15 17:57] abzcoding commented on #972
yeah atm we're trying to fix bugs and freeze plugins so that we can have a stable version, if we accomplish that, the next step would be documentation and video series to help users tune LunarVim to their workflow

[2021-07-15 18:03] mandaputtra commented on #954
1. Owww so now it uses `O.format_on_save` I'm not following the update. Thanks it fixed!

2. Bad luck, I tried, but  it doesn't detect my file types :((

![Screenshot from 2021-07-16 01-00-58](clojure project)

There are some errors though it is not from lunarvim

![Screenshot from 2021-07-16 01-02-46](https://user-images.githubusercontent.com/23342943/125835871-1f86c219-f75d-4240-b6ac-d60ddd5ebdc

[2021-07-15 18:07] abzcoding commented on #954
1.so the first issue has been fixed?
2. that means we don't yet support clj files, but I'll try to add support for clojure asap :)

[2021-07-15 18:08] ChristianChiarulli commented on #975
clojure is now on rolling

[2021-07-15 18:08] abzcoding commented on #954
@mandaputtra nvm chris just [added](https://github.com/ChristianChiarulli/LunarVim/commit/554b6f086baf6c4a7b3991f4b1bec2051de43d08) support for clojure/

pull the latest code and test it again

[2021-07-15 18:13] Cthutu opened #980 "[Feature]: Smarter explorer use"
### Feature motivation

I want to switch to nvimtree with a keypress, but current SPC+e, will only toggle.  This means that when I am editing a file and I want to go over to nvimtree, I have to press SPC+e twice.

### Describe the expected solution

Perhaps SPC+e should do different things depending on context:

1) If the user is on nvimtree, it closes
2) If nvimtree is not visible, it opens
3) If

[2021-07-15 18:16] ChristianChiarulli commented on #980
Is this not the current behavior?

[2021-07-15 18:16] jonathan-raines commented on #945
I can see that diagnostic

On Thu, Jul 15, 2021 at 11:27 AM Abouzar Parvan ***@***.***>
wrote:

[2021-07-15 18:53] abzcoding commented on #945
good :sweat_smile: , i think i've found the root cause , gonna file a PR later on

[2021-07-15 19:20] JulianTao commented on #953
My bad. Github workflow is still fairly new to me.
@abzcoding helped solved the problem. Thank you!

[2021-07-15 19:31] abzcoding commented on #945
@jonathan-raines can you install `robocop-railse` and `mini_portile2-2.5.1` in the same project that raised those erros? and test it again

- either the solargraph lsp has some issues
- or we've configured it in a wrong way.

cause this is what your `lsp.log` shows:
![lsp](https://user-images.githubusercontent.com/10992695/125846252-8358d588-7d6d-4a76-8c3b-477c521e372d.png)

basically if the solar

[2021-07-15 20:05] jonathan-raines commented on #945
I created a new rails project and diagnostics work. I added `gem factory_bot` to the Gemfile and did not install the gem. I quit and restarted Neovim and diagnostics still work.

On the existing project where I am not receiving diagnostics, `rubocop-rails` is already added to the Gemfile and installed. I ran `gem install mini_portile2` and restarted Neovim and the diagnostics still do not work :/.

[2021-07-15 20:20] abzcoding commented on #945
that one is a known issue #822

[2021-07-15 20:27] ivano9 opened #981 "[Bug]: Error using the command installer"
### Problem description

Just run the installer command, master branch.

On Ubuntu 21.04

### LunarVim version

0.4.8

### Neovim version (>= 0.5)

NVIM v0.6.0-dev+27-g27118c6eb

### Relevant log output

_No response_

### Screenshots

![image](https://user-images.githubusercontent.com/43305758/125852776-ed4b02ad-0346-4ccf-966b-af87bf89e235.png)

### I have

- [X] Read the readme
- [X] Read the wi

[2021-07-15 20:54] jonathan-raines commented on #945
I closed the terminal session, reopened, navigated to the project, and opened Neovim and diagnostics are not working again.
[lsp.log](https://github.com/ChristianChiarulli/LunarVim/files/6826188/lsp.log)

[2021-07-15 22:05] luxus commented on #981
I can confirm the error

[2021-07-15 23:46] nerdthatnoonelikes commented on #981
I can confirm the error as well.
![image](https://user-images.githubusercontent.com/33642056/125871443-a994b9e3-6d72-4f58-92cf-4cb2f4d1aa83.png)

[2021-07-15 23:47] etrigan63 commented on #981
Confirm as well.

[2021-07-16 04:16] GlennLeo commented on #957
That would be great if it's "cobalt2"

[2021-07-16 06:37] abzcoding commented on #981
can you guys check if it is fixed or not 🥺

[2021-07-16 08:32] abzcoding commented on #944
@vlcinsky can you check #984 to see if that is satisfactory?

[2021-07-16 08:49] icupken commented on #957
I really like darkplus from vscode, it perfectly highlights most languages and comfortable enough for the eyes.

[2021-07-16 09:29] qvieth opened #985 "[Feature]: vim-surround and vim-commentary are needed(comment.nvim doesn't work right)"
### Feature motivation

vim-surround should be in default, while the current comment.nvim doesn't work right in C,C++, HTML, tpope/vim-commentary fixes those issues.

### Describe the expected solution

_No response_

### Describe the alternatives you've considered

_No response_

### Additional context

_No response_

[2021-07-16 10:13] gnmearacaun commented on #911
I'm part way through to figuring this issue out. Once solved I think spacegray has every good a chance of winning [the competition](https://github.com/ChristianChiarulli/LunarVim/issues/957)
In the meantime, my [transparent version](https://github.com/gnmearacaun/spacegray-trans.vim) works (based on spacegray prior to when chris refactored the theme.

[2021-07-16 10:21] gnmearacaun commented on #957
An extra challenge is to have a theme with comments clearly visible on a variety of backgrounds when transparency is enabled. There is an opportunity to solve that programatically ([issue #911](https://github.com/ChristianChiarulli/LunarVim/issues/911)) with spacegray for lunarvim.

[2021-07-16 10:30] Uzaaft commented on #980
I use Ctrl+H/L to jump between an editor and nvimtree if it's open.

[2021-07-16 10:56] abzcoding commented on #981
tested both `master` and `rolling` locally, it should be fixed now, feel free to reopen if it happened again

[2021-07-16 10:56] #981 closed

[2021-07-16 11:02] abzcoding commented on #985
can you test adding this to your `lv-config.lua` and check if it helps or not?
[code]

[2021-07-16 11:48] qvieth commented on #985
@abzcoding commenting C code which already has comments creates this

![Screenshot from 2021-07-16 18-24-52](https://user-images.githubusercontent.com/71810726/125941782-271529fb-0d3b-46e7-8fc9-312fb92a5e83.png)

added context_commentstring.enable and here's the behavior

https://user-images.githubusercontent.com/71810726/125942386-99bdcff3-6ba7-4de3-8297-9ed11b169058.mp4

I'm using vim-commentary

[2021-07-16 12:47] reflog commented on #975
@ChristianChiarulli - thanks, works great!

[2021-07-16 12:47] Murtaza-Udaipurwala opened #989 "[Feature]: A new custom statusline for LunarVim?"
I built this in my free time❤️

# Lunarline ([repo](https://github.com/Murtaza-Udaipurwala/lunarline))

![lunarline](https://user-images.githubusercontent.com/75304812/125947267-7a0e7a56-c34e-465b-92ca-e5a1ca73976c.png)
Out of the box

## ⭐Features
* Written in lua
* Fast
* Looks beautiful
* Customizable
* Built for LunarVim

## Requirements
* Neovim >= 0.5
* [kyazdani42/nvim-web-devicons](https:/

[2021-07-16 12:47] reflog commented on #954
seems to work now!

[2021-07-16 12:57] #954 closed

[2021-07-16 12:59] mandaputtra commented on #954
Can confirm it is working

[2021-07-16 14:11] ivano9 commented on #975
thanks, now works!

[2021-07-16 14:11] #975 closed

[2021-07-16 14:29] Murtaza-Udaipurwala commented on #911
This is because guibg is not set to none for those highlight groups.
I have made a [PR](https://github.com/ChristianChiarulli/LunarVim/pull/990).

[2021-07-16 15:22] #911 closed

[2021-07-16 15:33] ChristianChiarulli commented on #989
I think this is a great idea, if we can get all of the same features as galaxyline and it's just as fast or faster I'm all for it. Has a cool name too.

[2021-07-16 15:33] ivano9 opened #993 "[Bug]: Error while pressing tab"
### Problem description

On branch rolling
When want switch tabs files pressing Tab show that error (image attached).

### LunarVim version

0.4.8

### Neovim version (>= 0.5)

NVIM v0.6.0-dev+27-g27118c6eb

### Relevant log output

_No response_

### Screenshots

![image](https://user-images.githubusercontent.com/43305758/125971873-1cc7d68b-df55-44dd-a8ef-9dd3db45dad8.png)

### I have

- [X] Read

[2021-07-16 16:48] abzcoding commented on #812
we need to check [this](https://github.com/nvim-telescope/telescope.nvim/pull/886) out

[2021-07-16 16:56] antlis opened #994 "[Bug]: packer.nvim Error in coroutine"
### Problem description

1. Run install script
`bash <(curl -s https://raw.githubusercontent.com/ChristianChiarulli/lunarvim/master/utils/installer/install.sh)`

### LunarVim version

LunarVim 0.4.8

### Neovim version (>= 0.5)

NVIM v0.5.0-dev

### Relevant log output

_No response_

### Screenshots

![Screenshot from 2021-07-16 21-46-10](https://user-images.githubusercontent.com/4791958/12598164

[2021-07-16 17:00] antlis commented on #994
I've found a similar, closed issue https://github.com/ChristianChiarulli/LunarVim/issues/981

But I am experiencing the problem anyway

[2021-07-16 17:20] l-kershaw commented on #812
@abzcoding if you want something more specific than available with the current options, you could always use [this](https://github.com/nvim-telescope/telescope.nvim/pull/1000). This PR allows you to write a custom function that is used to determine how paths are displayed.

I don't think it would allow something like "smart" in [this](https://github.com/nvim-telescope/telescope.nvim/pull/914), as

[2021-07-16 17:25] #961 closed

[2021-07-16 17:27] ChristianChiarulli commented on #874
Can we close this?

[2021-07-16 17:29] ChristianChiarulli commented on #675
https://github.com/rafamadriz/friendly-snippets/issues/31

[2021-07-16 17:29] abzcoding commented on #812
Thanks, I haven't yet figured out what I prefer, but i'll look into `custom_display`

[2021-07-16 18:14] jameswalmsley commented on #874
Closing this now..
I've added a cpp example to the formatter.nvim readme so other languages can add support for it as required.

[2021-07-16 18:14] #874 closed

[2021-07-16 18:26] jameswalmsley commented on #777
Just to note.. I think maintained is good.. it definitely shouldn't be all.. I had a build breakage for 1 language last week.. switching to maintained fixed it.

[2021-07-16 19:01] gnmearacaun commented on #911
Nicely solved @Murtaza-Udaipurwala . I was attempting to do it within spacegray. This is far better as it applies to all themes. I would like to set `gray` and `comment` uniformly visible across all themes. I have tried adding these lines below yours but get an error:
[code]
but just get errors. Thoughts on how to do this? Nice job with lualine and ez by the way.

[2021-07-16 19:02] ChristianChiarulli commented on #985
I thought we removed this feature. We may need to also look into other options such as kommentary.

[2021-07-16 19:44] abzcoding commented on #994
can you run `nvim -v`

[2021-07-16 20:05] abzcoding opened #996 "[Feature]: User should be able to choose formatting provider"
### Feature motivation

some plugins support `vim.lsp.buf.formatting()` and they run faster than calling a cmd using `formatter.nvim`

an example would be `scala` using [nvim-metals](https://github.com/scalameta/nvim-metals) as talked about [here](https://github.com/ChristianChiarulli/LunarVim/pull/986#discussion_r671463631)

### Describe the expected solution

letting users override the autoforma

[2021-07-16 20:13] Bakermg opened #997 "Error running config for nvim-lspinstall"
Updated to the latest version of neovim v0.6.0-dev+27118c6 Build type Release LuaJIT 2.1.0-beta3
install lunarvim with script

When running nvim  command  getting this error:
![Screen Shot 2021-07-16 at 16 06 06](https://user-images.githubusercontent.com/6689806/126003047-a72132fd-837d-4bbd-a026-cefe28349def.png)

Running PackerCompile does nothing
Running PackerUpdate closes nvim
Running PackerSy

[2021-07-16 20:16] roobert commented on #777
I have recently returned home to a 4G connection and can attest to witnessing some serious issues with neovim and treesitter with `maintenance` set as the default. One serious issue is that on a bad connection it seems like the default method to synchronise any external repositories is to run them all in parallel. On a poor connection this is futile and is likely to result in someone quitting neov

[2021-07-16 20:28] rebuilt commented on #997
Does this directory exist on your system?

[code]

If not, install it manually

[code]

Also try removing the packer_compiled file

[code]

[2021-07-16 20:41] Bakermg commented on #997
That directory didn't exist so added it manually, and removed the packer_compiles files, still no luck and getting the same error

[2021-07-16 20:43] rebuilt commented on #997
Did you make an empty directory or did you clone lspinstall.  The command I provided clones it to that directory

[2021-07-16 20:53] Bakermg commented on #997
I execute the command you supplied to clone lspinstall,
![Screen Shot 2021-07-16 at 16 47 50](https://user-images.githubusercontent.com/6689806/126006970-989b8420-3d37-4b6d-9c9c-c6164c768c03.png)
now from terminal typing nvim getting this error

[2021-07-16 21:19] rebuilt commented on #997
Can you try the manual install?  That might give us a better idea of what's failing.

https://github.com/ChristianChiarulli/LunarVim/wiki/Installation

First follow the instructions to uninstall.

[2021-07-16 21:25] rebuilt commented on #993
What filetype are you editing?

[code]

What's the output of

[code]

[2021-07-16 21:26] antlis commented on #994
@abzcoding

![Screenshot from 2021-07-17 02-25-34](https://user-images.githubusercontent.com/4791958/126010064-f621cf43-85af-4f9c-a4bd-a1922c5daf52.png)

[2021-07-16 21:47] luxus commented on #994
for me the issue is fixed since @abzcoding tried to fixed it..
[code]

[2021-07-16 21:48] Bakermg commented on #997
yeah so I went through all the steps in manual and at this command ```nvim -u $HOME/.config/nvim/init.lua +PackerInstall```
it brought me back to the original error.

[2021-07-16 21:51] rebuilt commented on #997
What's the output of

[code]

[2021-07-16 21:59] Bakermg commented on #997
Everything checks good except for Perl verson being too old
![Screen Shot 2021-07-16 at 17 59 22](https://user-images.githubusercontent.com/6689806/126012513-fba046c7-4298-4833-b01d-c7cce26db7d9.png)
, weird thing is that when running checkhealth it seems to be using your colorscheme.

[2021-07-16 22:02] rebuilt commented on #997
The colorscheme doesn't require a packer installed plugin.

Can you try the rolling branch please?

[code]

[2021-07-16 22:03] antlis commented on #994
Setting `rolling` did not help.

![Screenshot from 2021-07-17 02-53-00](https://user-images.githubusercontent.com/4791958/126012714-7dc38c87-c2d2-4347-9609-3bd31293192c.png)

@luxus  Are you suggesting installing stable `nvim`?

[2021-07-16 22:16] Bakermg commented on #997
No luck with that, one thing that I notice after going through the install process the nvim-lspinstall folder was gone and I had added that from earlier comment you had made. I tried to add it again but still with error

[2021-07-16 22:23] antlis commented on #994
I am not sure how to install stable `nvim` on ubuntu, without building it from sources. It works with `0.6.0-dev` tho, after I updated it.

So I guess the issue can be closed.

![Screenshot from 2021-07-17 03-21-44](https://user-images.githubusercontent.com/4791958/126013925-84691334-217f-44b7-b1ba-a66deea73106.png)

[2021-07-16 22:23] #994 closed

[2021-07-16 22:27] luxus commented on #994
sudo add-apt-repository ppa:neovim-ppa/stable
sudo apt-get update

[2021-07-16 22:30] #797 closed

[2021-07-16 22:33] luxus commented on #989
what is the issue with galaxyline? or what was the motivation to build a new status line?
would it be possible to have the same colors as the provided theme without a lot customization?

[2021-07-16 22:36] rebuilt commented on #997
If packer failed to run you're probably missing all your plugin folders.  You'd have to manually install all the plugins.

The only other thing I can think to try is switching to a different version of neovim

[2021-07-16 22:49] luxus commented on #882
@iapicca can u try a clean install of lunarvim rolling branch?
this command will delete the old config folder and packer caches and install everything again with the rolling branch activated
` LVBRANCH=rolling bash <(curl -s https://raw.githubusercontent.com/ChristianChiarulli/lunarvim/rolling/utils/installer/install.sh) --overwrite`

[2021-07-17 00:17] Bakermg commented on #997
ok will give that a shot. Thanks for all your help, super appreciate it and all your work, I have been using your nvim configs for a long time now, love them.

[2021-07-17 04:02] Murtaza-Udaipurwala commented on #989
None. Galaxyline is a fantastic statusline.

I wanted something that was built for LunarVim

Ofcourse. All the themes will be built right into Lunarline inside the lua/themes/* directory(the same way [lualine](https://github.com/hoob3rt/lualine.nvim) does it). All lunarVim needs to do is something like this

[code]
### How galaxyline is configured in LunarVim to change its colors currently
[code]

[2021-07-17 06:39] Tastyep commented on #989
Then I fail to understand the goal of your project.
There is a good project with a well-defined API, but you decide to develop your solution because it is more minimalist ?
Also, you want to strongly couple it to lunarVim, which is an obviously poor design decision, what are the benefits in the end ?

Sorry, but I'm not hyped.

[2021-07-17 06:40] #946 closed

[2021-07-17 06:55] ChristianChiarulli commented on #933
can we add isort to the list of active formatters?

[2021-07-17 07:19] abzcoding commented on #933
sadly no: [Available Linters](https://github.com/mfussenegger/nvim-lint#available-linters)

[2021-07-17 07:54] iapicca commented on #882
@luxus
I'm probably doing it wrong
![image](https://user-images.githubusercontent.com/45637986/126030213-f934f4f0-2fe5-4f02-9f06-9d7e40abc9b3.png)

the [treesitter issue](https://github.com/nvim-treesitter/nvim-treesitter/issues/1560#issuecomment-880057147)
seems to identify the problem as the path provided by [install.sh](https://github.com/ChristianChiarulli/LunarVim/blob/rolling/utils/installer

[2021-07-17 08:40] abzcoding commented on #997
@Bakermg can you test this **WARNING: this will remove your `~/.config/nvim` **
[code]

[2021-07-17 08:43] abzcoding commented on #993
@ivano9

the tab is for auto-completion, and your LSP doesn't support signature help for the thing under your cursor, hence the error

use `shift+h` and `shift-l` for tab switching

[2021-07-17 08:43] iapicca commented on #882
@luxus
turns out the issue was nvim being installed with `appimage`

this fixes it

[code]

maybe you want to consider add a warning or stuff like that

[2021-07-17 08:43] #882 closed

[2021-07-17 08:57] vlcinsky commented on #946
@ChristianChiarulli @abzcoding can we reopen this issue?

Managing disabled plugins works great, but we are still missing user control of `vim.g.nvim_tree_disable_netrw`.

Existing [default-config.lua](https://github.com/ChristianChiarulli/LunarVim/blob/ddb627d004d1f6c3bbd593a381ed93bbe54a24fd/lua/default-config.lua#L100) allows to set `O.nvim_tree_disable_netrw` but this is actually never used.

[2021-07-17 09:11] abzcoding commented on #946
add this to `lv-config.lua`
[code]

[2021-07-17 09:33] vlcinsky commented on #946
For `rolling` branch I can confirm, existing `lv-config.lua` allows to control required nvim_tree options needed to allow vim-vinegar to work:

Following hints from https://github.com/ChristianChiarulli/LunarVim/pull/769#issuecomment-881862932 I added to my `lv-config.lua` lines:

[code]
and now it works.

All changes in my `lv-config.lua` needed to make vim-vinegar working are as follows:

[code]

[2021-07-17 09:48] vlcinsky commented on #993
I got confused too with Tab not switching tabs:

https://github.com/ChristianChiarulli/LunarVim/blob/ddb627d004d1f6c3bbd593a381ed93bbe54a24fd/utils/lv-vscode/init.vim#L83-L84 defines such key mapping, but it apparently does not work (something else is probably overriding the keymap)

The lines are likely to be removed as `shift+h` and `shift-l` seems to be working well.

[2021-07-17 09:56] Cthutu commented on #980
Not quite.  SPC+e will just toggle the visibility of the nvimtree.

[2021-07-17 09:57] Cthutu commented on #980
That's great if you have just one window open.  Using the nvimtree is so common that I would prefer the declarative approach to it (press 1 key to go straight there), rather than the imperative approach (press 1 or more keys depending on how many windows you have and how they are set up).

[2021-07-17 10:20] iapicca commented on #627
after this [error](https://github.com/ChristianChiarulli/LunarVim/issues/882)
I wiped everything and installed from the scratch...
and now I'm experiencing this :/

[2021-07-17 11:30] abzcoding commented on #993
This is where the replacement happens

https://github.com/ChristianChiarulli/LunarVim/blob/ddb627d004d1f6c3bbd593a381ed93bbe54a24fd/lua/core/compe.lua#L84-L87

[2021-07-17 12:25] Murtaza-Udaipurwala commented on #989
@Tastyep thankyou for the constructive criticism. Lunarline now re-defines its goals.

## Goals
* Asynchronously load heavy components of the statusline.
* No external dependencies on other plugins for features like git branch, git diffs, virtual environment.
* Maintain a boundary between features and speed.
* All famous themes will be included with Lunarline.

This has never been my goal. LunarLi

[2021-07-17 12:41] Murtaza-Udaipurwala commented on #911
@gnmearacaun here is the syntax to highlight any group
[code]
GROUP is the thing you want to highlight. `:hi` inside nvim to get a list of all highlight groups.

In your case the code should be
[code]

[2021-07-17 12:43] Tastyep commented on #989
Sorry, I realize I was very rude the way I spoke, I had a very bad night, but that's no excuse.
So first, I apologize about that.

Thank you for clarifying the goals, it's much more appealing now :+1:

[2021-07-17 14:24] PellePedro opened #1003 "[Bug]: Installation error after nvimtree refactoring (1f5fd93f80) on rolling branch"
### Problem description

With the factoring of nvimtree in config() and setup() functions I'm experience an error installing due to a null value in default-config.lua

line 162 in `default-config.lua` reads:
[code]
Before running `PackagerInstall` the statement
[code]
 will return null and cause the error when trying to call `config()`
[code]
Note also that the `setup()` function depends requires

[2021-07-17 14:34] abzcoding commented on #1003
a pull request with those changes would be much appreciated :pleading_face:

[2021-07-17 15:06] PellePedro commented on #1003
My first pull request to LunarVim :) https://github.com/ChristianChiarulli/LunarVim/pull/1004

[2021-07-17 16:21] iapicca opened #1007 "[Bug]: 'E492: Not an editor command: PackerInstall'"
### Problem description

after wiping my both `nvim` and `lv` blank for https://github.com/ChristianChiarulli/LunarVim/issues/882
I encountered the same issue of https://github.com/ChristianChiarulli/LunarVim/issues/627

I installed `nvim` using these [commands]( https://raw.githubusercontent.com/ChristianChiarulli/LunarVim/rolling/utils/bin/install-latest-neovim
)

[code]

and then installed `lv`

[2021-07-17 19:26] Binx-Codes commented on #1007
Lots of people have faced this issue as well, and someone with that issue has opened a Pull Request to fix it.

Link to the PR: https://github.com/ChristianChiarulli/LunarVim/pull/1004
You will have to wait, until Chris has merged this into the rolling branch.

[2021-07-17 21:17] iapicca commented on #1007
oh... ok

[2021-07-17 21:17] #1007 closed

[2021-07-17 22:01] NurdinDev opened #1010 "[Bug]: typescript file format not working with me"
### Problem description

1- Go to any typescript file
2- Save file using `:w`
3- You will see an error
[code]

### Check the following

- [X] I am in a git managed directory
- [X] I restarted Neovim after running :LspInstall
- [X] I have a valid language configuration (~/.config/nvim/ftplugin/)
- [X] I checked the options (~/.config/nvim/lv-config.lua)
- [X] The programs specified by the config ar

[2021-07-17 23:11] #812 closed

[2021-07-18 08:20] abzcoding commented on #888
@pxsanghyo can you test it again using the `rolling` branch, it should be better now

[2021-07-18 08:24] abzcoding commented on #821
@adarshchbs, can you test this again using the `rolling` branch? We've changed quite a bit since then.

[2021-07-18 08:26] abzcoding commented on #825
@w-r-z-k can you check with the latest `rolling` branch to see if the issue is fixed or not,
if not then please attach your `~/.cache/nvim/lsp.log` file.

[2021-07-18 09:13] williamgoulois commented on #1010
Do you have a global prettier installation?

[2021-07-18 09:41] NurdinDev commented on #1010
I tried with and without prettier global installation, and the same.

[2021-07-18 10:01] pxsanghyo commented on #888
@abzcoding Thanks, tried it out just now.
Honestly it feels about the same...
It takes about a second (~900ms) to format.

I swear it was instant format before which is why I created this issue.

Anyways, thanks!

[2021-07-18 11:04] adarshchbs commented on #821
Resolved the issue. It was mainly because of python clash from homebrew and conda. I solved it by removing the conda env whenever brew is running by including this script in my .zshrc.
`
brew() {
    local -a conda_envs
    while [ "$CONDA_SHLVL" -gt 0  ]; do
        conda_envs=("$CONDA_DEFAULT_ENV" $conda_envs)
        conda deactivate
    done
    command brew $@
    local brew_status=$?
    for

[2021-07-18 11:04] #821 closed

[2021-07-18 11:09] abzcoding commented on #888
can you test one thing real quick
disable auto format on save by adding this to `lv-config.lua`
[code]

then run the following for formatting and check if it is faster or not
[code]

[2021-07-18 11:33] abzcoding commented on #1003
Fixed by #1012

[2021-07-18 11:33] #1003 closed

[2021-07-18 11:48] luxus commented on #989
thanks for explaining it again. now it sounds much more compelling.. is there a branch with galaxyline replaced by lunar line?

[2021-07-18 11:50] abzcoding commented on #843
@gikari this has been added to `rolling` branch

add this to your `lv-config.lua`

[code]

[2021-07-18 11:50] #843 closed

[2021-07-18 12:17] abzcoding opened #1015 "[Feature]: Make testing great again"
we need to test a couple of things after the installation process:

- [ ] Install workflow runs only if lint and formatting was passed
- [ ] LV can install `treesitter` stuff without issue
- [x] LV can run `:PackerSync` without issues
- [ ] LV can install a LSP without issues
- [ ] LV can successfully load and format a sample file

[2021-07-18 13:25] Murtaza-Udaipurwala commented on #989
@luxus not yet. Lunarline is still under heavy development.

[2021-07-18 13:40] luxus commented on #857
thats a good idea.. still not sure if it is really necessary.
the issue with the wiki is that it its not easy just to copy paste the configs and with the wiki there is no option to PR plugins

[2021-07-18 15:54] ChristianChiarulli commented on #993
this is the vscode config, rolling is testing out using tab as signature help, (I'm also thinking of <leader><tab> as tabnew). shift+h and shift+l are way better to move between tabs, shift<tab>  is not ergonomic at all.

[2021-07-18 17:44] gnmearacaun commented on #957
This is a transparent spin on `glepnir/zephyr-nvim` written in lua and works with treesitter. The background is set to 'none' but this can be changed. https://github.com/gnmearacaun/zephyr-clear.nvim

[2021-07-18 17:45] gnmearacaun commented on #957
This is a transparent spin on `glepnir/zephyr-nvim` written in lua and works with treesitter. The background is set to 'none' but this can be changed. https://github.com/gnmearacaun/zephyr-clear.nvim

[2021-07-18 17:56] abzcoding commented on #960
Merged

[2021-07-18 17:56] #960 closed

[2021-07-18 17:57] #944 closed

[2021-07-18 18:10] ChristianChiarulli commented on #1010
If you're on rolling I should have a fix in, prettier seemed to work out of the box for me but I added a nil check just in case someone set that argument incorrectly.

[2021-07-18 18:11] #993 closed

[2021-07-18 18:12] gnmearacaun commented on #911
Oh, very cool. Lua really does make it simple to make sweeping changes across the board.
One other thing while you're here, @Murtaza-Udaipurwala. The blank part of the tabline is not transparent. Could we get that?
I have tried adding the following to your additions in settings, but it doesn't seem to do it
[code]
I wonder what I'm doing wrong.

[2021-07-18 19:05] williamgoulois commented on #980
Yeah but this means that when you open a file from nvimtree and need to close the tree you have to press 2 times (one to focus nvimtree and the other one to close it)
And by the way i doubt you would have more that 2 vertical editors opened :)

[2021-07-18 20:02] abzcoding commented on #895
#896

[2021-07-18 20:02] #895 closed

[2021-07-18 21:28] Bakermg commented on #997
Wanted to comment here that I was able to get everything to work by installing neovim with Homebrew and link it. Previously I had used the script that is here to update neovim.

[2021-07-18 21:59] rebuilt commented on #997
When you say you previously used the script, do you mean the neovim compilation instructions no longer work for you?
https://github.com/ChristianChiarulli/LunarVim/wiki/Installation

Or do you mean that they used to be in the README and you could no longer find them?

[2021-07-18 23:08] williamgoulois opened #1018 "[Bug]: Nvimtree not working in dashboard"
### Problem description

Steps to reproduce :
1- Open nvim with dashboard (on rolling)
2- Try to `<Space>e` to show nvimtree

The room for nvimtree is here and an empty buffer is created but nothing appears

With my testing i found out that reverting e264bfe06d53c8e1efe1ce95ebd86170abc5da24 from @abzcoding resolves the issue.

Looks like we will need to still use an old version of nvimtree and not

[2021-07-18 23:20] Cthutu commented on #980
I have an ultrawide monitor 😃

On Sun., Jul. 18, 2021, 20:05 William Goulois, ***@***.***>
wrote:

[2021-07-19 02:48] pxsanghyo commented on #888
@abzcoding

With the following:
[code]

It's instantly formatting with `:lua vim.lsp.buf.formatting()`
but with `whichkey` command `LSP -> Format` it's same as before (~ 1sec to format).

[2021-07-19 03:04] Bakermg commented on #997
So what I am saying is I ran into this issue after using this to update neovim
[code]

[2021-07-19 04:33] abzcoding commented on #888
@pxsanghyo thank you for testing that, yes that is a known issue we are trying to solve related to #996

[2021-07-19 04:33] #888 closed

[2021-07-19 04:35] abzcoding commented on #1018
thank you for mentioning this, pinned the nvim-tree version again

[2021-07-19 04:35] #1018 closed

[2021-07-19 04:47] abzcoding commented on #1018
@williamgoulois  apparently the issue only happens on **mac**, hence the fact nobody else on discord had the issue.

[2021-07-19 05:21] ChristianChiarulli opened #1019 "[Feature]: gpx2 lets you move into the floating window AND scroll through it"
### Feature motivation

I wanna search the whole buffer for what I'm looking for

### Describe the expected solution

gpx2 lets you move into the floating window AND scroll through it

### Describe the alternatives you've considered

_No response_

### Additional context

gpx2 already jumps into the window, now we need the second part.

[2021-07-19 05:54] Anselmoo opened #1021 "[Feature]: LunarVim Bottle for Home-brew"
### Feature motivation

I like to organize and update my packages by using homebrew. I thought that **LunarVim** will be a great fit for homebrew like the classic **vim**

### Describe the expected solution

[code]

### Describe the alternatives you've considered

_No response_

### Additional context

The standard homebrew bottle of vim:

[https://github.com/Homebrew/homebrew-core/blob/HEAD/Formu

[2021-07-19 05:56] mksud opened #1022 "[Bug]: Cannot paste from a register into a telescope prompt as the which-key popup for registers closes telescope"
### Problem description

I am unable to paste from a register using `<c-r>` into a telescope prompt (filesearch, live grep etc). The which-key popup for registers closes telescope and the register content gets pasted into some open buffer.

For now i can workaround the issue with the following in `lv-config.lua`
`O.plugin.which_key.setup.plugins.registers = false`

I wish there was a better way th

[2021-07-19 07:39] rebuilt commented on #997
I can confirm.  I tried updating neovim on a laptop that had a beta 0.5 build.  I couldn't upgrade past the old 0.5 build.  I removed the --depth 1 and was able to compile the newest version.  I've updated the instructions on the wiki.

I don't understand why the '--depth 1' would break anything.  Could it be related to the switch to 0.6 development?  If someone can explain, I'd appreciate it.

@B

[2021-07-19 11:15] rebuilt commented on #997
Issue resolved.  Updated wiki to make sure neovim can be compiled to the latest.

[2021-07-19 11:15] #997 closed

[2021-07-19 11:48] #423 closed

[2021-07-19 11:49] abzcoding commented on #423
Lv now supports Julia : 🎉

[2021-07-19 13:17] meehirmanitrips opened #1027 "I messed up while trying to update Lunarvim....please help!!!"
I was trying to update lunarvim and somehow i messed it up and now it is not working at all.
Can someone tell me how do i uninstall lunarvim so that i can do fresh install after that.

[2021-07-19 13:23] Tastyep commented on #1027
https://github.com/ChristianChiarulli/LunarVim/wiki/Uninstalling-LunarVim

[2021-07-19 14:07] meehirmanitrips commented on #1027
I have successfully uninstalled lunar vim but on installing it again i am getting the following error:
[code]
What do i do next?

[2021-07-19 14:26] rebuilt commented on #1027
Compile and install the newest version of neovim
https://github.com/ChristianChiarulli/LunarVim/wiki/Installation

The latest commit is this one

[code]

After installing the latest the output of nvim -v should include the sha for the commit

[code]

[2021-07-19 14:30] Folaht opened #1028 "[Feature]: Solarized colors"
### Feature motivation

I am always frustrated when I can's choose solarized-dark.

I made an attempt, but I can't figure out why the colors seems to be washed out.
And why some text types remain bold or standard despite changing it in the palette.

### Describe the expected solution

Expected solution:
![image](https://user-images.githubusercontent.com/9342090/126175942-f83f06db-f88a-42af-9d28-8d

[2021-07-19 14:49] sethigeet commented on #996
I guess we could add a function on to the global object (`_G`) and then call it in all the places from where formatting is done (autocmds, keybindings, etc.) and that function could check the formatter selected for the current `filetype` in the global options object (`O`) every time we format a file.

By adding the function to the global object(`_G`), it will be loaded at the start and hence will

[2021-07-19 14:55] sethigeet commented on #956
This is a very simple plugin and does not require much configuration. Also not all languages support a REPL and not everyone uses it. It would be bloat for a lot of people!
Whoever wants it could just add it as a custom plugin very easily

[2021-07-19 15:00] Uzaaft commented on #1028
@Folaht Could you try another terminal? From experience I know that Alacritty does not render colors like other terminals.
This is the standard LunarVim theme with konsole at the right and Alacritty at the left.
![image](https://user-images.githubusercontent.com/48220549/126181417-262eed5f-7148-4ddf-a32a-3ae3fbbaacbb.png)

[2021-07-19 15:20] Soziopath opened #1029 "keymapping for terminal navigation in insert mode messed up"
### Problem description
keymapping for terminal navigation in insert mode/terminal mode is messed up.
just found out it was still working in commit a3f3f3b6.

Steps to reproduce:
1) open term `:new term://bash`
2) stay in insert mode in term window
3) previous working keymapping c-j, c-k, c-h, c-l are not switching from term window to other windows anymore

### LunarVim version

latest rolling

##

[2021-07-19 15:44] Uzaaft commented on #980
I have an ultrawide monitor myself, and I have never had the need to use more than 2 editors.
Just shows that how we use LunarVim varies a lot.
The LunarVim project tries to provide sane defaults to neovim. IMHO I think that the current defaults are good. @ChristianChiarulli  Any thoughts?
Also, I looked at the NvimTree code. Seems to me that they do not provide a way to jump from an editor to an

[2021-07-19 15:45] VDuchauffour commented on #957
Those variants of Onedark are cool too IMO (+1 for Cool and Warm styles)
https://github.com/navarasu/onedark.nvim/

[2021-07-19 15:45] Conni2461 commented on #822
https://github.com/nvim-telescope/telescope.nvim/issues/1033

[2021-07-19 16:06] abzcoding commented on #1029
is there a reason to not use the terminal provided by LV? just asking :sweat_smile:

by adding this to your `lv-config.lua` and using `<c-t>` to toggle it:
[code]

[2021-07-19 16:09] Soziopath commented on #1029
im using rhysd/reply.vim to get a repl with keymappings to send my selection to the repl.
so the terminal provided by lv does not do the job :D

[2021-07-19 16:18] Soziopath commented on #1029
switching windows with `<c-j>,<c-k>,<c-h>,<c-l>` doesnt work with the lv terminal either.
just tested

[2021-07-19 16:46] abzcoding commented on #1029
gonna fix it asap, thank you for bringing this to our attention

[2021-07-19 17:15] abzcoding commented on #1029
@Soziopath can you test using `<c-J>` `<c-K>` (basically ctrl+shift+k)
just want to make sure that I've found the issue

[2021-07-19 17:17] Soziopath commented on #1029
`<c-J>` and `<c-K>` are not working either

[2021-07-19 17:31] gikari opened #1034 "[Bug]: Unable to type capital K and J in the floating terminal"
### Problem description

Steps to reproduce:

0. Enable floating terminal
1. Open terminal with `<C-t>`
2. Try to type capital J or K

### LunarVim version

roliing

### Neovim version (>= 0.5)

NVIM v0.5.0

### Relevant log output

_No response_

### Screenshots

This is printed instead:
![Screenshot_20210719_202950](https://user-images.githubusercontent.com/14205339/126201843-374a9a54-c9bc-43d8-

[2021-07-19 17:35] #1029 closed

[2021-07-19 17:44] meehirmanitrips commented on #1027
Thank you so much its working now.
But there is still one small problem.........whenever i am opening any file it says filetype unknown in the bottom of the screen how do i get rid of that

[2021-07-19 17:50] ChristianChiarulli commented on #1034
gotcha seems to be a keymap we have defined. Should be an easy fix.

[2021-07-19 17:51] ChristianChiarulli commented on #1027
@meehirmanitrips we're working on that bug currently. Still not sure what plugin/autocommand it causing it.

[2021-07-19 17:53] abzcoding commented on #1034
@gikari can you pull the latest changes, I think this issue should be fixed now

[2021-07-19 17:56] abzcoding commented on #1027
@meehirmanitrips can you try adding this to your `lv-config.lua` and check if the `filetype unknown` issue is fixed or not?
[code]

[2021-07-19 17:56] ChristianChiarulli commented on #1034
It's fixed on rolling, thanks @abzcoding

[2021-07-19 17:57] gikari commented on #1034
Indeed, it was fixed. Thank you.

[2021-07-19 17:57] #1034 closed

[2021-07-19 18:47] edward-mb commented on #957
I like Night-Owl
https://github.com/haishanh/night-owl.vim

[2021-07-19 18:49] abzcoding commented on #295
we have [nvim-toggleterm](https://github.com/akinsho/nvim-toggleterm.lua) now, you can enable it by adding this to your `lv-config.lua`:

[code]

also check out their documentation for setting your desired keybindings

[2021-07-19 18:49] #295 closed

[2021-07-19 18:52] abzcoding commented on #388
This issue should be fixed now. Feel free to reopen it if it still exists

[2021-07-19 18:52] #388 closed

[2021-07-19 20:38] alechp commented on #1027
@meehirmanitrips when you were starting up, was this the error you were seeing:

[code]

?

[2021-07-19 20:42] abzcoding commented on #1027
it seems so as mentioned [here](https://github.com/ChristianChiarulli/LunarVim/issues/1027#issuecomment-882578402)

[2021-07-19 20:44] alechp commented on #1027
Oops, missed that. Thanks @abzcoding

Ye I've had this same issue on both my laptop and iMac this week. Will try fresh installs for both

[2021-07-19 20:44] abzcoding commented on #1027
try [this](https://github.com/ChristianChiarulli/LunarVim/issues/1027#issuecomment-882593902)

[2021-07-19 21:38] williamgoulois commented on #980
We could use `NvimTreeFindFile` command to focus nvimtree.

### Solution proposed

Ok i understand better now ! It may be possible to make this behavior customizable with two behaviors : `focus` or `toggle`.
- focus: If focus is on buffer we call `NvimTreeFindFile` else we call `NvimTreeClose`
- toggle: we always call `NvimTreeToggle`

what do you think of this @Cthutu ?

[2021-07-20 01:01] alechp commented on #1027
Works! Thanks @abzcoding

Had to wipe plugins and logs (https://github.com/ChristianChiarulli/LunarVim/wiki/Uninstalling-LunarVim), but all good now

---
### Context for others having install issues:

I was having a massive hang during install process

![Screen Shot 2021-07-19 at 5 55 16 PM](https://user-images.githubusercontent.com/3058939/126246167-a494b7c0-9462-4eff-8b11-69d23911a417.png)

Stop

[2021-07-20 05:09] ChristianChiarulli commented on #1027
luckily the new installer doesn't share the plugins directory with nvim anymore, and when you blow it away it cleans the plugins up as well.

[2021-07-20 08:17] kbrah opened #1040 "[Bug]: Error: attempt to concatenate nil value"
### Problem description

After updating to the latest rolling branch commit I'm now getting an error
`E5113: Error while calling lua chunk: C:\Users\dev\AppData\Local\nvim\lua\default-config.lua:1: attempt to concatenate a nil value`

The previous working version I had was also pretty recent (got it yesterday)

Any ideas how to fix?
Tried to uninstall and install again. Also got the latest neovim

[2021-07-20 09:10] kbrah commented on #1040
It appears that the decoupling commit broke it. I assume that making that on Windows might take some tinkering so feel free to close this if you think this is not useful.

[2021-07-20 09:43] rebuilt commented on #1040
How are you launching it?  Are you using the 'nvim' command or 'lvim'?  Also, the lv-config.lua file now resides in ~/.config/lvim

[2021-07-20 09:47] rebuilt commented on #1040
This is what the lvim command is doing:

[code]

[2021-07-20 09:57] Tastyep commented on #945
You log spams
`fatal: not a git repository`

https://github.com/neovim/nvim-lspconfig/blob/master/lua/lspconfig/solargraph.lua#L18

The language server requires a `Gemfile` or a `.git`, can you check that again ?

[2021-07-20 10:00] Tastyep commented on #933
Why not, isort is a formatter, not a linter.

[2021-07-20 10:15] Folaht commented on #1028
It seems like Alacritty is responsible for the wash and removing italics.

![image](https://user-images.githubusercontent.com/9342090/126306455-1dab265a-5fe3-48ce-9a6d-22f691c363fa.png)

Thanks!
Looks like I still have some more color changing to do, but at least I can see what it's supposed to look like now.

[2021-07-20 10:16] rebuilt commented on #1040
Updated the README. https://github.com/ChristianChiarulli/LunarVim#breaking-change-on-the-rolling-branch

[2021-07-20 10:20] Uzaaft commented on #1028
Nice! Seems like you can go ahead and close the issue: :)

[2021-07-20 10:22] Uzaaft commented on #1040
@rebuilt  Out of curiosity, what is the reasoning behind this change?

[2021-07-20 10:30] Folaht commented on #1028
I'll reopen it once I've fixed the Alacritty issues and then come back for

- Satement, the bold text
- SignColumn, background color being overwritten by Normal
- ?info? row, same

[2021-07-20 10:30] #1028 closed

[2021-07-20 10:37] Uzaaft commented on #1028
Just a heads up, if you are going to design the theme with the intention to merge it into LunarVim, I would advice you to use another terminal than alacritty while designing and coding it.

[2021-07-20 10:37] shadmansaleh opened #1044 "Suggestion: Avoid sudo inside installer script"
There are 22 sudo statements in installer script .

I think any script elevating it's permission without users conscience is a terrible idea . And that one being directly executed while being fetched over network is even horrifying .

I feel like lunarvim installer shouldn't install dependencies directly. Also installing lvim script on ~/.local/bin is probably a better idea then /usr/local .

Main

[2021-07-20 10:45] Folaht commented on #1028
How does one start lunarvim again without lsp?

[2021-07-20 11:08] rebuilt commented on #1040
In the future, the goal is to be able to run 'apt install lunarvim', etc for the distro of your choice.  We need to decouple LunarVim from the nvim folder to achieve that.  Users can continue to run and use a neovim configuration if they wish and also easily install and use LunarVim.

This change also separates out the user configuration files into their own folder.  This makes it easier to manage

[2021-07-20 11:20] Uzaaft commented on #1044
While I understand the reaction, the best way to solve this is to go ahead and rewrite the bash script to fix the issues you have with the install script.
IMHO, the way you write the issue makes me less inclined to help you, if this was an issue I could solve.

[2021-07-20 11:20] jambo6 opened #1047 "[Bug]: Cannot add keybindings in lv-config.lua"
### Problem description

Install lunar vim and add a keybinding such as
[code]
as taken of the github readme

returns
[code]

Keybindings do not work, remove the keybindings and there is no error.

### LunarVim version

0.4.8

### Neovim version (>= 0.5)

0.5

### Relevant log output

_No response_

### Screenshots

_No response_

### I have

- [X] Read the readme
- [X] Read the wiki
- [X] Searche

[2021-07-20 11:27] shadmansaleh commented on #1044
Ok sorry the language was to harsh. You see I ran the script then it got stuck (I guess PackerSync) . Then opened the script was just too shocked to see the sudos :D

[2021-07-20 11:31] rebuilt commented on #1028
:LspStop

https://github.com/ChristianChiarulli/LunarVim/wiki/Useful-command-for-troubleshooting

[2021-07-20 12:02] Cthutu commented on #980
Yes, that seems fine for people who still like the current behaviour.  And
for people like me who prefer a more declarative approach can switch to the
other mode.

On Mon, 19 Jul 2021 at 22:39, William Goulois ***@***.***>
wrote:

[2021-07-20 12:03] Cthutu commented on #980
Also, in the new behaviour, if the nvimtree window isn't showing, of course NvimTreeToggle is good too.

[2021-07-20 12:29] meehirmanitrips commented on #1027
Yeah that problem has been solved now but unfortunately there is another problem........whenever i am trying to save the file it gives me the following error:

[code]
How do i fix this........also there are two more things that i want to point out.

First is that whenever i try to see the hidden files on nvimtree by pressing i buttor or shift+i it gives me the following error:

[code]
Second probl

[2021-07-20 13:01] jonathan-raines commented on #945
This project has both a `Gemfile` and a `.git`.

[2021-07-20 14:13] epileftro85 commented on #1040
I am still getting this error, even after running the command of the README

[2021-07-20 14:22] rebuilt commented on #1040
@epileftro85 Can you tell me how you installed and which steps you've tried?

Did you install by using the one-line-install command or by git pulling the latest updates?

Did you install the master or rolling branch?

If rolling, do the directories described here exist?
https://github.com/ChristianChiarulli/LunarVim#breaking-change-on-the-rolling-branch

What's the output of `which lvim`

[2021-07-20 14:23] abzcoding commented on #1027
@meehirmanitrips
- for switching between tabs use `shift+h` and `shift+l`
- also for `nvim-tree`

for the first error , can you put your `~/.config/nvim/ftplugin/c.lua` file here

[2021-07-20 14:24] abzcoding commented on #933
🤦 you are right

[2021-07-20 14:31] epileftro85 commented on #1040
Hi, i did install it both form

[2021-07-20 14:34] epileftro85 commented on #1040
Hi, thanks for the reply
**_I've installed it one-line-install, manually, master and rolling_**

Output:
`/usr/local/bin/lvim`

Into debug mode I can see this

`E5113: Error while calling lua chunk: /home/andres/.config/nvim/init.lua:13: module 'default-config' not `found:``

I've already did this
https://github.com/ChristianChiarulli/LunarVim#breaking-change-on-the-rolling-branch

[2021-07-20 14:36] Uzaaft commented on #1040
Did you delete the files like it is written in the uninstall section of the wiki

[2021-07-20 14:38] rebuilt commented on #1040
Yeah, you'll need to uninstall what's in the nvim folder.  Those files take priority; they get sourced first

The error message shows it's trying to load this file.
`/home/andres/.config/nvim/init.lua`

The new location is
`~/.local/share/lunarvim/lvim/init.lua`

[2021-07-20 14:51] Tastyep commented on #933
FYI I'm working on it already, I have a few ideas I want to try.

[2021-07-20 15:16] epileftro85 commented on #1040
@Uzaaft And @rebuilt i have:

1. uninstall lunarvim
2. move my nvim config folder to another place
3. rm nvim cache
4. re installing lunarvim with the one-line-install command

I still seeing this

[code]
Ubuntu 20.04

[2021-07-20 15:19] Uzaaft commented on #1040
@epileftro85  If you try and enter lvim, do you get a description of what section of the settings.lua file that causes the issue?

[2021-07-20 15:20] epileftro85 commented on #1040
I see this error again and just nvim is starting

`E5113: Error while calling lua chunk: /home/andres/.local/share/lunarvim/lvim/lua/settings.lua:29: attempt to index local 'opt' (a nil value)Press ENTER or type command to continue`

[2021-07-20 15:20] rebuilt commented on #1040
Compile and install the newest version of neovim
https://github.com/ChristianChiarulli/LunarVim/wiki/Installation

The latest commit is this one

[code]

After installing the latest the output of nvim -v should include the sha for the commit

[code]

[2021-07-20 15:20] rebuilt commented on #1040
https://github.com/ChristianChiarulli/LunarVim/issues/1027

[2021-07-20 15:23] Uzaaft commented on #1040
Ah, sorry, it is there in the post you provided.
Seems likt it perhaps might be the:
[code]
line. Not sure why. @rebuilt  I think we need a lua pro on this. xD

[2021-07-20 15:33] epileftro85 commented on #1040
Installing nvim....

[2021-07-20 15:40] epileftro85 commented on #1040
Done, maybe the `NVIM v0.5.0-dev+1357-g192f89ea1` has some bug or something, thank you for the responses, I will give it a try.

[2021-07-20 15:57] meehirmanitrips commented on #1027
This is my c.lua file:
[code]
Also this problem seems to only be in c/c++ file types as the java file types are not having any such problems.

[2021-07-20 15:59] qvieth commented on #957
https://github.com/pbrisbin/vim-colors-off + ZenMode enable for default

[2021-07-20 16:23] ichigo-gyuunyuu commented on #1047
Unable to reproduce on `rolling`, able to on `master`. The feature hasn't been added to `master` yet probably.

[2021-07-20 16:40] phuongbk90 commented on #1027
I have same issue when creating new file in nvim-tree and cannot save file.
![image](https://user-images.githubusercontent.com/8886054/126362715-58d58fc2-d0f2-4b64-93b0-1683994abf60.png)

[2021-07-20 16:44] ChristianChiarulli opened #1050 "[Spike] Explore null-ls for formatting and linting."
Try and integrate it for Python and Javascript for all formatters and linters to test.

https://github.com/jose-elias-alvarez/null-ls.nvim

[2021-07-20 17:03] abzcoding commented on #1044
😅 why so serious 🃏
atm there are tons of PRs that want to try and change the installer script (#648 #651 #766 )
but we are trying to make Lunarvim a separate pkg so instead of using the installer you can install it using the package installer of your choice:
[code]
so stay tuned

[2021-07-20 17:20] Conni2461 commented on #822
This bug should be fixed in the latest telescope version

[2021-07-20 17:22] abzcoding commented on #822
Fixed via [this](https://github.com/nvim-telescope/telescope.nvim/pull/1034)

[2021-07-20 17:22] #822 closed

[2021-07-20 20:20] abzcoding commented on #1044
Gonna be fixed by #1052

[2021-07-20 20:20] #1044 closed

[2021-07-20 21:00] VDuchauffour opened #1053 "[Bug]: X close the buffer and not the character before"
### Problem description

It seems that X command close the current buffer. I set this keymap in `lv-config.lua` and sometime it does well, sometime it close the buffer.
`vim.api.nvim_set_keymap("n", "X", '"_X', { noremap = true })`
Same with
`vim.cmd [[nnoremap X "_X]]`
But `:nnoremap X "_X` works perfectly
Any ideas ? Thx

### LunarVim version

0.4.8

### Neovim version (>= 0.5)

0.5.0

### Relev

[2021-07-20 21:04] abzcoding commented on #1053
that keybinding is use inside LunarVim, that might cause the problem
``lua
vim.api.nvim_set_keymap("n", "<S-x>", ":BufferClose<CR>", { noremap = true, silent = true })
[code]

[2021-07-20 21:33] VDuchauffour commented on #1053
@abzcoding yes it seems work now. This keybinding aren't repetitive with leader+c ? Knowing that action is already indicated with the which-key plugin ?

[2021-07-20 21:39] abzcoding commented on #1053
@ChristianChiarulli  do we need both of them? (inside `lua/core/bufferline.lua`)
[code]

[2021-07-20 21:44] abzcoding opened #1054 "[Bug]: Fresh install telescope.nvim issue"
### Problem description

install the `rolling` version

### LunarVim version

rolling

### Neovim version (>= 0.5)

v0.6.0-dev+nightly

### Relevant log output

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/10992695/126399359-daa9fb76-6550-4fad-9aed-4606e43e7e80.png)

### I have

- [X] Read the readme
- [X] Read the wiki
- [X] Searched for similar issues

[2021-07-20 21:49] abzcoding commented on #1054
cc: @kylo252

[2021-07-20 21:55] abzcoding commented on #1054
false alarm: seems to be a weird one time issue

[2021-07-20 21:55] #1054 closed

[2021-07-21 02:03] albert-ying opened #1055 "[Bug]: vscode-which key setting interfere the `f` and `t`"
### Problem description

I mapped the vscode-which-key to `,` similar to your LunarVim/utils/lv-vscode/init.vim

[code]

The `<verb>t,` and `<verb>f,` works as usual (e.g., `dt,` and `df,`). However, the `f,` and `t,` do not work -- instead of move to the next `,` character, it opens whichkey menu immediately. I'm wondering how can I preserve the function of `f,` and `t,` while `,` is bound to whi

[2021-07-21 02:49] parraletz opened #1056 "[Bug]: Cannot install using installer script"
### Problem description

1. mv ~/.config/nvim ~/.config/nvimbkp
2.  curl https://raw.githubusercontent.com/ChristianChiarulli/lunarvim/master/utils/installer/install.sh | bash

### LunarVim version

latest

### Neovim version (>= 0.5)

NVIM v0.6.0-dev

### Relevant log output

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/1150748/126422695-824cbe2c-b745-4d8a-8845-9c85

[2021-07-21 04:18] ChristianChiarulli commented on #1053
I didn't even know s-x was a thing, which do you guys prefer?

[2021-07-21 06:03] rebuilt commented on #1056
Did you try the workaround from the readme?  https://github.com/ChristianChiarulli/LunarVim

Pass the `-- overwrite` flag to the installer.  Consult the readme to see what will be deleted.

[2021-07-21 06:50] VDuchauffour commented on #1053
@ChristianChiarulli I prefer <leader>c. <S-x> should remains in its standard vim behavior IMO

[2021-07-21 12:21] jambo6 commented on #1047
Ah thanks, this works fine on rolling. I've now switched.

[2021-07-21 12:21] #1047 closed

[2021-07-21 12:28] jambo6 opened #1060 "[Bug]: Cant remap 'K'."
### Problem description

I want to perform the following remapping
[code]
however the `K` mapping does not work (`J` is fine). Other keymaps seem to work fine too.

Also remapping K in insert mode works fine, just not normal mode.

### LunarVim version

rolling

### Neovim version (>= 0.5)

0.5

### Relevant log output

_No response_

### Screenshots

_No response_

### I have

- [X] Read the read

[2021-07-21 13:55] rebuilt commented on #1060
To see what has been bound and where `:vebose nmap K`

imap for insert mode
vmap for selection

[2021-07-21 14:02] jambo6 commented on #1060
Ok thank you, any idea what I do when it says
[code]
?

[2021-07-21 14:08] kbrah opened #1061 "[Feature]: Windows support"
### Feature motivation

Is there a plan to add Windows support at some point? I'm limited to using Windows at work so I would appreciate it!

### Describe the expected solution

_No response_

### Describe the alternatives you've considered

_No response_

### Additional context

_No response_

[2021-07-21 14:23] rebuilt commented on #1060
Great.  We've made progress.  Now if you search for that text by pressing Space+s+t.  You'll see the keybind is being set in `lua/lsp/init.lua`.   If you look at that file you'll also notice the whole block of keybinds is wrapped in `if O.lsp.default_keybinds`.
So, you can either disable the default keybinds for lsp with
[code]

And then define those lsp keybinds yourself

Or you can pick a differ

[2021-07-21 15:24] deryrahman opened #1062 "[Feature]: Configurable colors highlight"
### Feature motivation

If we want to override the default colors highlight, we need to create some additional config on `lv-config.lua`. But somehow, it would make `lv-config.lua` looks ugly. The feature is quite general I think. I see so many people prefer to change the colors to match their preferences. So, it would be great if we can easily override colors highlight directly from lunarvim conf

[2021-07-21 15:29] rebuilt commented on #1060
If it helps, these are my keybinds
[code]

[2021-07-21 15:40] parraletz commented on #1056
Actually i removed .local/share/nvim before to run the installer, and its works...

I see, -- overwrite removes .local/share/nvim  and .config/nvim

[2021-07-21 15:40] #1056 closed

[2021-07-21 15:46] gikari opened #1063 "[Feature]: Support clangd switch_source_header command"
### Feature motivation

Clangd LSP [supports](https://github.com/neovim/nvim-lspconfig/blob/master/CONFIG.md#clangd) `switch_source_header` command. It would be nice to support this with a keybinding (for example `<leader>l<h>`), but only for C++ LSP.

### Describe the expected solution

_No response_

### Describe the alternatives you've considered

_No response_

### Additional context

_No resp

[2021-07-21 16:22] sa-mendez commented on #1062
I think working your solution into lunar vim would be good.

In the short term, you can get the highlighting to work using auto-commands.  Here is what I did in my lv-config:

[code]

Come to think of it, you can probably just update your highlight function to just use auto commands instead, and it should work to provide the functionality generically like you want.

[2021-07-21 16:33] ChristianChiarulli commented on #1062
colorscheme is in lua, require it and change the values, should work in theory right?

[2021-07-21 17:13] sa-mendez commented on #1062
Yes, that would be the most direct approach.  But the moment you switch your colorscheme, you would have to go back and edit it.  Using the auto commands allows you to treat your highlight choices as overrides independent of the chosen color scheme.

[2021-07-21 17:53] kylo252 commented on #1063
Hey this is provided by default by [lspconfig](https://github.com/neovim/nvim-lspconfig/blob/master/lua/lspconfig/clangd.lua). The command is `:ClangdSwitchSourceHeader` which you can just map directly.

[2021-07-21 17:54] kylo252 commented on #1061
Duplicate of #804

[2021-07-21 17:57] kylo252 commented on #1053
I think binding `<S-q>` to close buffer is a better choice. Plus, barely anyone uses or know about that mode 😄

[2021-07-21 18:03] jp707049 commented on #957
https://github.com/srcery-colors/srcery-vim
Official link - https://srcery-colors.github.io/
It has theme color for alaritty as well.

[2021-07-21 18:10] iapicca commented on #439
@rebuilt
https://github.com/akinsho/flutter-tools.nvim

[2021-07-21 19:31] williamgoulois commented on #1055
I don't know where did you see that we use `,` we actually use `<Space>` as leader :

https://github.com/ChristianChiarulli/LunarVim/blob/3ffee159af6bc619db7a3d14846d40a5ced6884c/utils/lv-vscode/init.vim#L72-L73

[2021-07-21 19:49] williamgoulois commented on #1055
I just tried to do `f<Space>`, `t<Space>` and it does work inside of VSCode. <Space> alone still triggers whichkey.

[2021-07-21 20:05] williamgoulois commented on #1055
Demo with KeyCastr and the same keybinding you did :
https://user-images.githubusercontent.com/37271970/126552824-99b2791f-49a7-4ac6-a8d8-e44627ab37de.mov

[2021-07-21 20:21] MichaelSasser commented on #1053
`<S-x>` shouldn't be remapped by lv.

[2021-07-21 21:29] gikari commented on #1063
Thanks, didn't know that, but how do I do that for only C++ files, where clangd loads, and keep it NOP for everything else? Does the lsp mappings behave similarly? Seems nontrivial.

[2021-07-21 21:38] albert-ying commented on #1055
Thank you so much! So I checked again my config files, and noticed that somehow I have this in my keybinding during the whole time...

[code]
Everything works fine after removing it.

[2021-07-21 21:38] #1055 closed

[2021-07-21 21:46] kylo252 commented on #1063
You would ideally have it in the `on_attach` callback. Sadly we only have the API for the `common_on_attach`. So you need to manually change it for clangd specifically.

[2021-07-21 21:47] williamgoulois commented on #980
Ok i found what i need to implement it, will do in a few days when i have time !
Need to update my own ocnfig after breaking change of lvim before

[2021-07-22 03:42] deryrahman commented on #1062
Great @sa-mendez , I have tried it, and it works! I made a pull request for that https://github.com/ChristianChiarulli/LunarVim/pull/1065. Any feedbacks are welcome.

I also tried to refactor the colors folder, so any lvim colorscheme would be more manageable, please take a look @ChristianChiarulli

[2021-07-22 07:25] Tastyep commented on #996
First, about the which key mapping, I think that we should expose only one mapping for formatting, more mappings are just confusing for the user.
Also, the augroup for autoformatting should stay, we don't want to remove the functionality, we just want it to behave differently based on the user's settings.
As you know, both  of them (whichkey and augroup) call `FormatWrite`, the straightforward sol

[2021-07-22 08:12] #1061 closed

[2021-07-22 10:18] zahin-muhaimeen commented on #957
In my opinion, I think One Dark should be the default colorscheme. Not only do I love it, there is proof out there of the amount of people that do ranging from themes for text editors, ide, browsers, terminals, tiling window managers and a lot more. But, this could be biased!

[2021-07-22 12:30] abzcoding commented on #996
I think that is a great idea, but I rather wait for `nlsp-settings` and #1050 to finish and then implement this

[2021-07-22 12:34] Tastyep commented on #996
I can check null-ls, is Chris taking care of `nlsp-settings` ?

[2021-07-22 12:35] gikari commented on #1063
Sadly, I do not understand how to do that 😢. Seems like it is a good reason to include this snippet in the config as a comment or provide the entire feature for clangd out of the box.

[2021-07-22 12:55] abzcoding commented on #996
you can do that I think, yes chris is doing that in the `new_contract` branch

[2021-07-22 13:10] NurdinDev commented on #1010
[code]

[2021-07-22 17:34] MichaelSasser commented on #957
I really like [projekt0n/github-nvim-theme](https://github.com/projekt0n/github-nvim-theme) with `themeStyle = "dark"` or `themeStyle = "dimmed"`.

[2021-07-23 08:40] lavixta commented on #957
I suggest gruvbox-flat. It is nice
https://github.com/eddyekofo94/gruvbox-flat.nvim
<img width="786" alt="Screen Shot 2021-07-23 at 3 40 35 PM" src="https://user-images.githubusercontent.com/36840462/126757678-27aa084d-7df1-4b98-885c-34a7f7a28df1.png">

[2021-07-23 10:19] benediktms commented on #1010
Hi there, I have a similar issue. When saving a buffer with `O.format_on_save = true` I get the following error:
[code]
these are my settings in `lv-config` for tsserver:
[code]

[2021-07-23 10:38] williamgoulois commented on #1010
@benediktms I don't know your LunarVim version but with latest on rolling you should have
[code]

Prettier is used by default we do not have others options implemented yet (prettierd will be added in the future)

I have `O.format_on_save` and `O.lint_on_save` to true in lv-config too

[2021-07-23 10:50] benediktms commented on #1010
@williamgoulois thanks for you response. I am on the latest rolling branch

`O.lang.tsserver.formatter.exe = 'prettier'` does not work for me. I get the following error:
[code]

I also tried the following:
[code]
following an example from https://github.com/mhartington/formatter.nvim

This gets rid of the errors but does not format.

[2021-07-23 10:58] rebuilt commented on #1010
Can you try this

[code]

[2021-07-23 11:04] benediktms commented on #1010
@rebuilt same result unfortunately :(

[2021-07-23 11:21] rebuilt commented on #1010
The is not a fix but here's a workaround
[code]
You can bind these commands to keys.

[2021-07-23 11:44] benediktms commented on #1010
Seems that prettier is not found in general. I rememer running into this issue before a while back. I used coc-prettier which seemed to have solved the issue but switching to lsp seems to have brought this up again for me. Did you do any additional setup for prettier other than having a config file in the project root?

[2021-07-23 12:26] rebuilt commented on #1010
A config file should be all you need.

Make sure you can run it from the command line.  If you can't, reinstall it.  https://prettier.io/docs/en/install.html

[2021-07-23 13:07] benediktms commented on #1010
Hmm strange, prettier is definitely installed (it works in VSCode) but neovim does not seem to recogize the executable. I tried both using only the local installation and global installation. I appreciate that this is probably not in the scope of this issue anymore, but I don't suppose you have any more suggestions?

[2021-07-23 13:10] rebuilt commented on #1010
What's the output of `which prettier`

[2021-07-23 13:11] benediktms commented on #1010
`/home/benedikt/.nvm/versions/node/v12.22.0/bin/prettier`

[2021-07-23 13:16] benediktms commented on #1010
I tried hardcoding that path into the [tsserver](https://github.com/ChristianChiarulli/LunarVim/blob/rolling/lua/lsp/tsserver-ls.lua#L5) file, but that also didn't work

[2021-07-23 13:28] rebuilt commented on #1010
It might have to do with nvm. https://github.com/jscheid/prettier.el/issues/70

[2021-07-23 13:36] rebuilt commented on #1010
Does formatting a file from the command line work?  `prettier --write file.js`  Does that give you any error messages?  Can you check the log files in .cache/nvim for any relevant error messages

[2021-07-23 13:50] benediktms commented on #1010
Yes running prettier from the command line works. I checked the logs also but there is noting in there that seems to be related to prettier. Basically just these lines:
[code]

[2021-07-23 14:34] benediktms commented on #1010
I tried disabling the `stdin` field from `tsserver` again after having installed prettier which now works, however it only uses the default format settings not the ones defined in my project root.

[2021-07-23 15:04] rebuilt commented on #1010
Make sure you don't have another configuration file that is getting sourced earlier.   https://prettier.io/docs/en/configuration.html

[2021-07-23 15:13] nathanielks opened #1071 "[Feature]: Configurable override for root of the project"
### Feature motivation

Currently, the file explorer in the sidebar and the file fuzzy search defaults to setting the root as something near `.git`, as best I can tell. I often will `cd` into subdirectories to work on subpackages, but this isn't supported currently as lvim will try to find a directory up the chain containing a `.git` directory.

### Describe the expected solution

I'd like to eith

[2021-07-23 15:20] benediktms commented on #1010
Yes don't think there is anything conflicting. And as mentioned it used to work with coc-prettier before I switched. Really at the end of my rope. I will test this again later today in a VM on few different repos to double check

[2021-07-23 18:09] luxus commented on #957
https://github.com/navarasu/onedark.nvim/
one more vote for one dark,  if I could only select one.
but GitHub, tokyo nights and srcery are really great themes too

[2021-07-23 18:45] rafamadriz commented on #1071
LunarVim uses vim-rooter to trigger the root directory, you should look into this https://github.com/airblade/vim-rooter#configuration to configure it to your liking. vim-rooter uses global variables for configuration, placing `vim.g.rooter/patterns = <your-config>` anywhere in your config should do.

[2021-07-23 21:58] justinGilmer commented on #616
One thing I noticed today when following [The plugin configuration for `nvim-lastplace`](https://github.com/ChristianChiarulli/LunarVim/wiki/Example-plugin-configurations#nvim-lastplace-declaration-and-configs), is that there is a missing comma in this setup and will not work if just copying/pasting.

I added a comment in the snippet below, the line `event = "BufRead"` is missing a comma before mo

[2021-07-24 00:07] williamgoulois commented on #980
I implemented the behavior @Cthutu @ChristianChiarulli the PR #1074 is opened 😃

[2021-07-24 02:45] qvieth commented on #957
https://github.com/marko-cerovac/material.nvim +1 vote

[2021-07-24 06:17] eulertour opened #1075 "[Bug]: Telescope changes directory"
### Problem description

1. Change directory
2. Open and close file search

Expected: Telescope searches under the current directory and the current directory is unchanged
Actual: Telescope searches under the directory from which lunarvim was started and the current directory is changed to the one from which lunarvim was started

### LunarVim version

0884dcd84670bc097c34253e983d2cde9c209dfa

###

[2021-07-24 07:29] ChristianChiarulli commented on #1075
could be vim-rooter causing this

[2021-07-24 12:14] jovanmaks opened #1076 "[Bug]:"
### Problem description

When I work on python (or any else language) code everything works normally but when i try to save cpp file (I have installed LspInstall cpp) it seas:
Error detected while processing BufWritePost Autocommands for "*":
E5108: Error executing lua /home/demijan/.config/nvim/ftplugin/cpp.lua:4: attempt to index field 'c' (a nil value)

P.S. It saves on :wq! but wont on :w

###

[2021-07-24 12:16] rebuilt commented on #1076
Can you try turning off autoformatting for cpp please.

[2021-07-24 13:32] jovanmaks commented on #1076
Works, thanks.

[2021-07-24 13:53] rafamadriz commented on #1022
Yes, you should probably open this issue in those plugins repo, that's just how which-key behaves (both plugins use floating windows feature and I guess that one overwrites the other). Nothing that we can do to fix it.

[2021-07-24 13:53] #1022 closed

[2021-07-24 14:28] rebuilt commented on #758
This is no longer needed since the user configs were moved to `.config/lvim`.  That directory can now be its own git repository.

[2021-07-24 14:28] #758 closed

[2021-07-24 14:40] rebuilt commented on #854
I haven't forgotten about this.

Now that lv-config lives in its own folder, do you still see a use case for specifying your own custom path?

If you can still see a need for this, it should probably be in a pr.  After the `new_contract` branch gets merged, can you submit a pull request for this so Chris can decide if it should be in version 1.0 or not?  Thanks.

If you can't see a use case for th

[2021-07-24 14:52] rebuilt commented on #461
Configurations have been completely separated and live in their own folder.  There are now mechanisms to add your own plugins, override default keybindings, whichkey mappings, and autocommands.  I think the goals of this pr have been achieved.  The api for this will change before 1.0, but everything is in place and I think it's safe to close this issue.

[2021-07-24 14:52] #461 closed

[2021-07-24 15:15] rebuilt commented on #172
It now lives in `~/.local/share/lunarvim/site`

[2021-07-24 15:15] #172 closed

[2021-07-24 16:33] dimas-cyriaco commented on #957
https://github.com/arcticicestudio/nord-vim

[2021-07-24 16:57] mbalazy commented on #705
Ok, I have to say that I figured it out.

Just install this:
https://github.com/microsoft/typescript-styled-plugin

`yarn add -D typescript-styled-plugin typescript`

Then add a plugins section to your tsconfig.json or jsconfig.json

`{
  "compilerOptions": {
    "plugins": [
      {
        "name": "typescript-styled-plugin"
      }
    ]
  }
}`

It works OOTB, I dont have to install any other pl

[2021-07-24 18:44] w-r-z-k commented on #825
Wiping the nvim install and installing the rolling lvim solved that problem.  But now I get a message that says `"SbtestApplication.java is a non-project file, only syntax errors are reported"`.  So it seems that it doesn't recognized it as a project.  There's a [stackoverflow](https://stackoverflow.com/questions/61826895/how-to-avoid-vs-code-warning-myfile-java-is-a-non-project-file-only-syntax#6

[2021-07-24 20:03] roobert commented on #854
Hi @rebuilt - I think this can probably be closed, however, I think the install script needs updating to avoid overwriting `.config/lvim/lv-config.lua` if it's re-run to upgrade LunarVim.

[2021-07-24 20:11] rebuilt commented on #854
Thanks for the reminder on the installer bug.

[2021-07-24 20:24] patlux opened #1079 "[Bug]: LuaJIT is required for Luarocks functionality![packer.nvim]"
### Problem description

Tried to install on a freshly installed MacBook Air M1:

[code]

Seems the only missing step is the linking process. It starts without any issue when I manually execute `~/.local/share/lunarvim/lvim/utils/bin/lvim`

### LunarVim version

rolling

### Neovim version (>= 0.5)

v0.5.0

### Relevant log output

[code]

### Screenshots

_No response_

### I have

- [X] Read the

[2021-07-24 20:57] kylo252 commented on #1079
- Does packer work correctly for you with vanilla neovim?
- Can you show the output of `lvim --version`?
- Can you unlink `luarocks` or maybe start `lvim` without `nix-profile` and then try again?

[2021-07-24 21:46] patlux commented on #1079
Ouh I forgot about nix...
No, packer didn't work with vanilla neovim. I just installed neovim via brew and now it works without any problems. Luarocks and luajit is still installed by nix.

Now the `nvim --version` shows a lot more:

[code]

[2021-07-25 01:21] #1076 closed

[2021-07-25 01:59] nathanielks commented on #1071
Oh, thank you so much 🙏

[2021-07-25 01:59] #1071 closed

[2021-07-25 04:28] #1053 closed

[2021-07-25 04:47] ChristianChiarulli commented on #996
null-ls handles this by not needing to change the API

[2021-07-25 04:47] #996 closed

[2021-07-25 04:47] ChristianChiarulli commented on #1050
null-ls is pretty great

[2021-07-25 04:47] #1050 closed

[2021-07-25 05:49] nwaywood opened #1085 "[Bug]: `vim.opt.cmdheight` not being respected on save"
### Problem description

To reproduce:
1. set cmdheight to anything that isn't 2 (e.g. `vim.opt.cmdheight = 1`)
2. reopen lvim (observe that the value you set is correct)
3. Save file (observe that the cmdheight changes back to 2 after saving)

### LunarVim version

Latest rolling commit `ceb018d45d0194bb0f8954aecffea4ac1549d906`

### Neovim version (>= 0.5)

NVIM v0.6.0-dev+682247b52

### Relevan

[2021-07-25 06:22] ichigo-gyuunyuu commented on #1085
Similar bugs for various other options, like `vim.opt.wrap`. Seems like something is up with the order of resourcing `lv-config.lua` and other files

[2021-07-25 06:50] #1085 closed

[2021-07-25 07:16] Jacob87 opened #1087 "[Bug]: Formatting asks to use null-ls or tsserver everytime"
### Problem description

When I format on Javascript or Typescript files, I receive this following prompt every time :

![image](https://user-images.githubusercontent.com/86928797/126890436-e69b8c85-1c97-4019-a186-8c92f24aab9a.png)

I think this is because `tsserver_on_attach` from `lua/lsp/init.lua` is no longer attached anywhere.

This line: `client.resolved_capabilities.document_formatting = fa

[2021-07-25 07:27] eulertour opened #1088 "[Bug]: Updates to setting in lv-config.lua are ignored"
### Problem description

settings.lua is executed before lv-config.lua, so the options related to settings.lua such as lvim.line_wrap_cursor_movement have no effect.

https://github.com/ChristianChiarulli/LunarVim/blob/rolling/init.lua#L15-L16

### LunarVim version

98f8a77

### Neovim version (>= 0.5)

0.6.0

### Relevant log output

_No response_

### Screenshots

_No response_

### I have

- [X

[2021-07-25 09:06] rebuilt commented on #854
No longer needed now that lv-config is in it's own folder

[2021-07-25 09:06] rebuilt commented on #854
lvim --headless +'lua require("lv-utils").generate_settings()' +qa && sort -o lv-settings.lua{,}

[2021-07-25 09:06] #854 closed

[2021-07-25 11:44] ichigo-gyuunyuu commented on #1088
Looks like a case of cyclic dependence 🥲

`settings.lua` needs to know certain options like the one this issue has raised. On the other hand, in order to be able to override vim defaults ( like through `vim.opt` ), `lv-config` needs to be required after `settings.lua`

[2021-07-25 12:53] vontman commented on #957
I suggest `Neon`, https://github.com/rafamadriz/neon.

Looks similar to spacemacs which a lot of people are used to.

![image](https://user-images.githubusercontent.com/4175383/126899666-335b1527-5b9f-421b-a7f5-01c007935644.png)

[2021-07-25 12:59] rafamadriz commented on #705
That's kinda cool, didn't know there were plugins that you can add to tsserver.

[2021-07-25 16:16] w-r-z-k commented on #825
The following tip from the Wiki:

solves the `"[file].java is a non-project file, only syntax errors are reported"` problem.

[2021-07-25 16:16] #825 closed

[2021-07-25 16:42] Uzaaft commented on #825
Did it make neovim recognize the project?

[2021-07-25 16:47] Uzaaft commented on #1040
You can go ahead and close the issue @epileftro85

[2021-07-25 16:51] epileftro85 commented on #1040
@Uzaaft is not my thread, I was just participating, this belongs to @kbrah

[2021-07-25 17:02] rebuilt commented on #1040
Issue resolved

[2021-07-25 17:02] #1040 closed

[2021-07-25 17:33] Uzaaft commented on #1040
Ah my bad. Sorry about that

[2021-07-25 19:03] ChristianChiarulli commented on #1087
#1095

[2021-07-25 19:03] #1087 closed

[2021-07-25 19:30] rebuilt commented on #1088
Seems like the settings file needs to be split up.

[2021-07-25 19:48] ChristianChiarulli commented on #1010
the new updates and #1095 should have fixed this

[2021-07-25 20:09] eo1989 opened #1098 "Changing settings in lv-config that were set in settings.lua && guide request for lv-config.lua"
### Problem description

After the last breaking change, where "O.default_options.xyz" was the way to go about using, I haven't been able to change the guifont or colorscheme. In another thread I read using "vim.cmd()", while it works for timeoutlen, it doesn't work for "set guifont." That also brings up another question, not only would I like to try out compe-tabnine,etc; but I would like to set/

[2021-07-25 21:34] luxus commented on #391
tab_stop is not changed anymore from the default.
maybe this issue can be closed

[2021-07-25 21:40] rebuilt commented on #1098
Put this in your lv-config.lua.  Delete the lines you don't want

[code]

[2021-07-25 21:41] Dulanjala007 opened #1099 "how do you close terminal buffer..."
### Problem description

open terminal with :term
then close the buffer with shift+x

Error detected while processing function bufferline#bbye#delete:
E89: term:///mnt/wsl/react-hooks//9934:/bin/zsh will be killed (add ! to override)

doesn't close the buffer...
with :BufferClose! it closes...

is this a bug with buffer close or there're any other key mapping for it ?

### LunarVim version

latest

[2021-07-25 21:41] rebuilt commented on #1098
Changes are detailed here:  https://github.com/ChristianChiarulli/LunarVim/wiki/Breaking-changes-in-rolling

[2021-07-25 21:41] rebuilt commented on #1098
For a full list of configuration options:

In case you want to see all the settings inside LunarVim, run the following:
[code]
and then inspect lv-settings.lua file

[2021-07-25 21:44] rebuilt commented on #1098
The important bit about the galaxyline configuration is `gls.right= {}`.  You're resetting the table and then adding what you want.  There is also `table.remove()`  but I could not get it to work.  If someone else knows how, let me know.  Then you wouldn't have to delete the whole table, just the element you want.

[2021-07-25 21:49] rebuilt commented on #1098
I tried again I was able to remove elements from the `right` table.  I'm not sure why it didn't work the first time.

[code]

[2021-07-25 21:51] rebuilt commented on #1098
You can set the colorscheme with
[code]

[2021-07-25 21:52] #1010 closed

[2021-07-25 21:54] rebuilt commented on #1098
I'm not sure about the guifont thing.  Does this form work?

[code]

Which gui are you using?

[2021-07-25 21:59] rebuilt commented on #1099
That keybind was removed.  `<Space>c` should close the buffer.  You're also free to add the x binding back on your own.

[code]

[2021-07-25 22:02] rebuilt commented on #1099
You can also define mappings like so
[code]

[2021-07-25 22:05] rebuilt commented on #1098
[code]

[2021-07-25 22:10] rebuilt commented on #1098
https://github.com/ChristianChiarulli/LunarVim/wiki/Extending-Configurations-for-Core-Plugins

[2021-07-25 22:20] Dulanjala007 commented on #1099
ok.. thanks!

[2021-07-25 22:20] #1099 closed

[2021-07-25 22:32] rebuilt commented on #1079
For anyone else with the same issue the line `LuaJIT 2.1.0-beta3` is what you need to look for when you run `nvim -v`

[2021-07-25 22:33] rebuilt commented on #1079
Issue resolved

[2021-07-25 22:33] #1079 closed

[2021-07-25 22:36] aotarola opened #1100 "[Bug]: elm lsp not working"
### Problem description

Open any elm file, you can use my minimal repo https://github.com/aotarola/elm-nvim

1. install elm lsp: `LspInstall elm`
2. try to format the code `<space>lf`
3. it throws: `RPC[Error] code_name = InternalError, message = "request textDocument/formatting failted with message: Cannot read property 'getTree' of undefined"`

### Check the following

- [X] I am in a git manag

[2021-07-25 22:38] rebuilt commented on #956
Thanks for the suggestion.  All of us, even the core devs, install plugins we like separately.  It's easy to install on your own.  At the moment the project is focused on these things:  https://github.com/ChristianChiarulli/LunarVim#project-goals.  If you'd like to provide sample configurations for any of those solutions, I can add them to the wiki.

[2021-07-25 22:38] #956 closed

[2021-07-25 22:51] kylo252 commented on #1100
This is probably related to #1095, and the fact that we don't have a default external formatter for elm.

[2021-07-25 23:37] Jacob87 commented on #1100
elm (and many other formatters) are coming: https://github.com/jose-elias-alvarez/null-ls.nvim/pull/53

[2021-07-25 23:54] Jacob87 opened #1101 "[issue] eslint_d won't work in null-ls with the current implementation"
## according to the documentation of null-ls,
#### This is how we are suppose to add the built-in `eslint_d` diagnostic in null-ls sources :
`null_ls.builtins.diagnostics.eslint.with({command = "eslint_d"})`

#### And when I put { "eslint_d" } in my lv-config under formatter.exe, this is how lunarvim currently adds it :
`null_ls.builtins.diagnostics.eslint_d`

which won't work.

#### Lunarvim vers

[2021-07-25 23:59] w-r-z-k opened #1102 "[Bug]: TAB doesn't work - Doesn't change buffers"
### Problem description

1. Run lvim
2. Load two buffers
3. Hit TAB to switch between buffers (nothing happens except a message says `No signature help available`)
5. Type :bnext (works as expected)

I am looking into `~/.local/share/lunarvim/lvim/lua/keymappings.lua` to understand what keys are assigned to what functions.  And very few of these keys work.  I got used to the mapping of :bnext to T

[2021-07-26 00:04] w-r-z-k commented on #825
It seemed to solved the problem of it thinking the java file was not part of the project.  At the moment I am learning what keys are mapped to what for the IDE functionality and very stuff isn't working on the mac as I expect it to.  So I haven't got very far into exercising the IDE capabilities.  Much of that is me not knowing my way around the lua configuration.

[2021-07-26 00:05] Jacob87 opened #1103 "[Bug]: If I don't have my formatter/linter in local, null-ls won't take the global one"
### Problem description

When I'm using typescript for example, null-ls won't take my linter (eslint) from global. It needs to have it in local (inside the project to work)

### LunarVim version

rolling

### Neovim version (>= 0.5)

0.5

### Relevant log output

_No response_

### Screenshots

![image](https://user-images.githubusercontent.com/86928797/126917837-2681000d-15ec-4548-b7d6-f10c56c647

[2021-07-26 02:47] ChristianChiarulli commented on #1103
this seems to work fine for me on the latest rolling

[2021-07-26 02:49] rebuilt commented on #1102
We really have to unmap tab.
It's being set already as an lsp keybind
```lvim.lsp.default_keybinds = nil```   And then you'll need to remap keybinds for lsp

[2021-07-26 03:29] nwaywood opened #1106 "[Bug]: Commenting is wrong for `.toml` files"
### Problem description

When commenting out (either via `gc` operators or via `<leader>/`) `.toml` files it comments out like this

`/* truncation_length = 10 */`

however the correct way to comment out in `.toml` files is

`# truncation_length = 10`

### LunarVim version

Rolling branch commit e6f4b20346f4257f065b18ffa3cf1ff34e0f0b56

### Neovim version (>= 0.5)

v0.6.0-dev+682247b52

### Releva

[2021-07-26 03:30] andremeireles commented on #1098
Hi @rebuilt.
Is possible you guide me how to fix which_key? Seems broken.

[code]
With this setting, `leader key` no longer works.

[2021-07-26 03:53] rebuilt commented on #1106
https://github.com/ChristianChiarulli/LunarVim/issues/985

[2021-07-26 03:56] nwaywood commented on #1106
Ah sorry I missed that, I just searched issues for "toml". Feel free to close if you don't want a separate ticket to track `toml` 👍

[2021-07-26 04:00] reedobrien commented on #957
PaperColor

[2021-07-26 04:13] Jacob87 commented on #1103
@ChristianChiarulli  I pulled the latest rolling, and still have the same error. Did you remove your local eslint? `npm remove eslint` and make sure to use the global one from your computer with `npm i --global eslint` ? idk why I have this problem

[2021-07-26 04:27] ChristianChiarulli commented on #1106
I'll keep my eyes open for a new plugin for commenting for now I suggest putting an issue in upstream

[2021-07-26 04:36] ChristianChiarulli opened #1107 "[Feature]: Lsp provider should be a table or a string"
### Feature motivation

some langs need multiple lang servers

### Describe the expected solution

so we will loop through the table and set them or if it's just a string set the one

### Describe the alternatives you've considered

none

### Additional context

_No response_

[2021-07-26 05:29] dklymenk commented on #1107
Hello, I have actually added some code to `lua/lsp/init.lua` that solved this issue for me locally:

[code]

 What this allowed me to do is to set 2 lang servers for php without overwriting default config for the rest of the languages in my `lv-config.lua` like this:
[code]

This not ideal and IMO we don't need a `provider` key in each lang server table. Instead we can use a structure like the one

[2021-07-26 05:34] dklymenk commented on #1101
Hello.

My understanding is that to set diagnostics provider you should set `lvim.lang.javascript.linters = {'eslint_d'}` and not `lvim.lang.javascript.formatter.exe = 'eslint_d'`, but I would assume that's what you meant because even with `lvim.lang.javascript.linters = {'eslint_d'}` or `lvim.lang.javascript.linters = 'eslint_d'` it doesn't work.

[2021-07-26 05:39] Jacob87 commented on #1101
@dklymenk Yes this is what I meant, thank you I corrected it in my example :)

[2021-07-26 05:55] dklymenk commented on #1101
Can you please link to a piece of documentation you are referring to?

[2021-07-26 05:55] ChristianChiarulli commented on #1103
really weird, I will try to prove it on stream tomorrow either way and we'll see.

[2021-07-26 07:20] benediktms commented on #1010
FYI I discovered what the issue was (for me) and it was not a bug with this config at all. Our code base still has a tslint config file that we use for certain things including setting `"arrow-parens": false`. I explicitly added that option to the prettier config file as well which fixed the issue for me. Just mentioning this here so it's searchable in case anyone else comes across this niche case

[2021-07-26 08:24] colutti opened #1109 "[Bug]: Fresh install of lunarvim does not load the default colorscheme"
### Problem description

On a fresh Linux instance (tested on ubuntu and arch) opening Neovim does not load the default theme spacegrey.
Activating it using Telescope works but it is not persisted (of course).

Tested on the main branch with the follow command:

`curl -s https://raw.githubusercontent.com/ChristianChiarulli/lunarvim/master/utils/installer/install.sh| LVBRANCH=master bash -s -- --ov

[2021-07-26 08:40] abzcoding commented on #1102
@w-r-z-k this means they are commented, and shouldn't work
[code]
use `shift-h` and `shift-l` to navigate between buffers

[2021-07-26 08:43] abzcoding commented on #1098
``lua
lvim.builtin.which_key.mappings["X"] = {
  name = "Compilers",
    c = { "<cmd>!compiler %<cr>", "compile gr, tex and md to pdf" },
    p = { "<cmd>!opout %<cr>", "open or preview corresponding pdf" },
}
[code]

[2021-07-26 08:45] abzcoding commented on #957
i suggest this lazy loading multiple themes based on the time of the day
example
[code]

[2021-07-26 09:17] nwaywood commented on #1109
Did you spell it `spacegrey` or `spacegray` in your lv-config? Because you need the American spelling https://github.com/ChristianChiarulli/LunarVim/blob/3c9c081c28dd2bd9e69f46dce852dfb3e88842ff/lua/default-config.lua#L9

[2021-07-26 09:21] colutti commented on #1109
@nwaywood I changed nothing. I am using the default config file without any changes. It is set as it should be.
BTW, this is not the only thing not working. LSPs arent as well (at least lua and terraform).

[2021-07-26 12:40] Soziopath opened #1115 "[Bug]: module 'lint' not found - on fresh install"
### Problem description

Steps to reproduce the behavior:
1. fresh install of lvim (rolling)
2. install python Lsp `:LspInstall python`
3. open any python file (its not just python, also tested with lua)
4. try linting `:lua require('lint').try_lint()` or `<leader>ll`
5. see error

[code]
since the formatter and linter were switched to null-ls that has to be the cause.
maybe im doing something wro

[2021-07-26 14:16] ChristianChiarulli commented on #1109
are you running lvim or nvim?

[2021-07-26 15:05] rebuilt commented on #1109
Is this your first install or are you upgrading?  If you're upgrading, maybe your packer_compiled folder needs to get removed before installing
Please remove these directories and retry
[code]

[2021-07-26 15:08] rebuilt commented on #1109
Oops, sorry.  I thought you were on rolling.  The advice I gave before applies to rolling.  I'll test a new install on master.

[2021-07-26 15:18] rebuilt commented on #1109
Can you please post the output of `:messages`.
Check the error logs in `~/.cache/nvim` to see if there are any relevant error messages.
Can you post the full output of `nvim -v`.  I want to make sure your version of neovim  was compiled with LuaJit
Can you check `PackerStatus`.  At the top it should say 26 plugins were loaded.   If that number is different run `:PackerSync`

I wasn't able to repro

[2021-07-26 16:18] bob3000 opened #1119 "rust-tools don't work as Additional Plugin"
The rust tools work only half ways when installed as an additional plugin in `lv-config.lua`. The virtual text shows up however the [commands](https://github.com/simrat39/rust-tools.nvim#commands) which come with the plugin are not available.

This is how I added the plugin to the `lv-config.lua`:

[code]

I think we had this issue once before but a lot has changed since then I can't figure out an

[2021-07-26 18:07] tiannaru opened #1120 "[Bug]: Error when opening `fish` script"
### Problem description

Steps to reproduce:
1. Open fish file: `lvim test.fish`
Or, open any file and run `:set filetype=fish`
2. See an error that is related to `lsp`:
[code]
Pressing `<esc>` clears the error and lunarvim works as expected after that (as in, no LSP active for fish)

### LunarVim version

e5bd25b1f3d44395e522b2455c058b15f2bbe76f

### Neovim version (>= 0.5)

v0.6.0-dev+63-ga8c3d5

[2021-07-26 18:09] rebuilt commented on #391
Closing since we no longer modify tabstops.  If you still experience this issue on the latest release please reopen

[2021-07-26 18:09] #391 closed

[2021-07-26 18:15] rebuilt commented on #945
Does your path include any directories with spaces?

[2021-07-26 18:17] rebuilt commented on #858
This is no longer relevant

[2021-07-26 18:17] #858 closed

[2021-07-26 18:23] rebuilt commented on #808
This issue has been resolved in rolling.  Please reopen if you're still getting errors

[2021-07-26 18:23] #808 closed

[2021-07-26 18:30] etienne-k opened #1121 "[Bug]: Can't properly insert tabs/spaces with the tab key in Markdown files"
### Problem description

**Steps to reproduce**
- Open a markdown file.
- Enter insert mode.
- Press the minus/dash key.
- Press the tab key.

**Expected behavior**
- Following the tab key press, a tab or spaces (depending on the indentation settings) is inserted.
- When an autocomplete suggestion list pops up though, cycling with the tab key should be possible.

**Actual behavior**

- Bad: An aut

[2021-07-26 18:59] ichigo-gyuunyuu commented on #1119
rust-tools seems to setup rust-analyzer as well, which might be causing this issue.

This is just a workaround but if you want lunarvim to not setup the lsp and leave everything to the plugin, add `lvim.lang.rust.lsp.provider = nil` in your lv-config. (pull in the latest commit). Also, the plugin requires you to have the rust-analyzer binary in your path by default.

[2021-07-26 19:02] ChristianChiarulli commented on #1120
fixed on rolling

[2021-07-26 19:02] #1120 closed

[2021-07-26 19:31] jonathan-raines commented on #945
No spaces. I use `-` instead of spaces `/home/username/projects/ruby-project-directory`

[2021-07-26 19:32] colutti commented on #1109
![image](https://user-images.githubusercontent.com/9368892/127046895-2a7cc14d-dfb8-4ad5-9d10-35084f338650.png)

![image](https://user-images.githubusercontent.com/9368892/127047537-b300bb50-027c-4df5-a6b3-985415a18e6a.png)

![image](https://user-images.githubusercontent.com/9368892/127047573-642f5d29-c6e3-4abf-86c8-42796b8bec9e.png)

In this case, I am running lvim in a raspberry pi but I have the

[2021-07-26 20:00] abzcoding commented on #1119
@bob3000 check [my lvim](https://github.com/abzcoding/lvim/blob/main/lv-config.lua) for rust related config
I'm using `rust-tools.nvim` with no issues
I've added this
[code]

[2021-07-26 20:26] tiannaru opened #1125 "[Bug]: Yaml autoindent is not as on-point as on vanilla neovim"
### Problem description

1. Open a new yaml file in a neovim with empty `init.vim`
2. Write yaml as usual. You will notice that auto-indentation is pretty good
3. Open new yaml file in a lunarvim instance with `lv-config.lua` taken from the Readme
4. Write yaml as usual. You will notice that on a new line the cursor is placed right at the start.
Sometimes the de-dent on `:` and `-` will actually m

[2021-07-26 20:49] UltimateOmega commented on #957
This is a great idea!

[2021-07-26 21:22] colutti commented on #1109
nvim, lunarvim from master, macbook pro (also tested on ubuntu, pi and arch)

[2021-07-26 21:34] bob3000 commented on #1119
@abzcoding Thanks a lot. That did the trick :pray:
@ichigo-gyuunyuu I had tried that before and it didn't work. However it does work now after this one commit was added https://github.com/ChristianChiarulli/LunarVim/commit/4d68c6eb78bc1376be5e7fb5c3303001eb425228 as you already mentioned. Thank you too :pray:

[2021-07-26 21:34] #1119 closed

[2021-07-26 22:53] ChristianChiarulli commented on #1125
we could try disabling treesitter indents for yaml

[2021-07-26 22:54] vlcinsky commented on #933
[null-ls.nvim has support for isort](https://github.com/jose-elias-alvarez/null-ls.nvim/blob/main/lua/null-ls/builtins/formatting.lua#L42)

[2021-07-26 22:58] ChristianChiarulli commented on #1125
disabling treesitter indent since it seems to work pretty well with vanilla indent. let me know if that solves your problem, or you'd like to see better support.

[2021-07-26 22:59] ChristianChiarulli commented on #1115
we don't use nvim-lint for linting anymore, null-ls is our preffered way to do linting, formatting and code actions.

[2021-07-26 23:46] andremeireles commented on #1098
Thank you very much.

[2021-07-27 03:24] w-r-z-k commented on #1102
Uh! I didn't notice the -- marks.  I guess I could get used to shift H and L. Thanks.

[2021-07-27 03:24] #1102 closed

[2021-07-27 05:02] tiannaru commented on #1125
This is great! It's already better than in vscode 😈  Closing the issue.

[2021-07-27 05:02] #1125 closed

[2021-07-27 05:04] tiannaru commented on #1125
forgot to mention, fixed in 66bf89c3d12ccc87f3f02e1b031771e6c9466fea

[2021-07-27 07:26] backtolife2021 commented on #1060
Cant remap 'L'

![image](https://user-images.githubusercontent.com/24669431/127113422-ab4bc87d-ed6f-48da-aa01-ee02085b202e.png)

[2021-07-27 07:36] colutti commented on #1109
I just created a Dockerfile to help you testing the bug.

`FROM ubuntu:20.04

ENV DEBIAN_FRONTEND=noninteractive

ARG BUILD_APT_DEPS="ninja-build gettext libtool libtool-bin autoconf automake cmake g++ pkg-config unzip git python3 python3-pip nodejs npm git"
ARG TARGET=nightly

RUN apt update && apt upgrade -y && \
  apt-get -y install tzdata && \
  apt install -y ${BUILD_APT_DEPS} && \
  git clon

[2021-07-27 07:40] colutti commented on #1109
If you change the Lunar branch to rolling you can also use this docker image to test stuff.

[2021-07-27 07:58] 30-silver opened #1129 "[Bug]: Not an editor command "PackerInstall""
### Problem description

1. Run the script for neovim in readme.md
2. That's about it

I can't install this because it gives me this error. I'm using Neovim on Linux Mint (Cinnamon)

### LunarVim version

latest

### Neovim version (>= 0.5)

0.4.3

### Relevant log output

_No response_

### Screenshots

_No response_

### I have

- [X] Read the readme
- [X] Read the wiki
- [X] Searched for simila

[2021-07-27 08:25] Uzaaft commented on #1129
@30-silver  Could you go ahead and update your neovim version? Ref the readme:
[code]

[2021-07-27 11:47] jambo6 commented on #1060
Thank you!!!!!!

[2021-07-27 11:47] #1060 closed

[2021-07-27 12:03] jambo6 commented on #1060
What colorscheme is that you have in the bufferline.lua file?

[2021-07-27 12:10] jambo6 opened #1131 "[Bug]: How do I go about using WhichKey"
### Problem description

After installing the `lvim-config.lua` file simply has
[code]
but there seems to be no documentation for how to actually do this. Can anyone give me a reference or example of their config file?

### LunarVim version

rolling

### Neovim version (>= 0.5)

0.5

### Relevant log output

_No response_

### Screenshots

_No response_

### I have

- [X] Read the readme
- [X] Rea

[2021-07-27 12:27] rebuilt commented on #1131
Yeah.  Documentation needs to be written.  This will give you an example of changing a single key.

https://github.com/ChristianChiarulli/LunarVim/issues/1098

To remap all whichkey settings look here:  https://github.com/rebuilt/lvim-config/blob/master/whichkey.lua

You can also look at other example configurations
https://github.com/abzcoding/lvim
https://github.com/ChristianChiarulli/lvim

If a

[2021-07-27 13:34] jambo6 commented on #1131
I see, thank you. How can I overwrite some of the base leader key mappings without overwriting everything?

For, suppose I want to keep the git mappings but use:
[code]
How do I access "<leader>c" without replacing the whole thing.

[2021-07-27 13:37] rebuilt commented on #1131
[code]

[2021-07-27 14:30] rebuilt commented on #1131
You can bind those the same way you map them in a plain neovim config.   https://github.com/rebuilt/lvim/blob/master/keybindings.lua

Or you can follow the example from ~/.local/share/lunarvim/lvim/utils/installer/lv-config.example.lua
[code]

[2021-07-27 15:10] abzcoding commented on #1121
Fixed Via #1130

[2021-07-27 15:10] #1121 closed

[2021-07-27 15:45] ChristianChiarulli opened #1134 "[Spike]: Investigate nvim-comment hooks"
[code]

[2021-07-27 15:46] rafamadriz commented on #1129
@30-silver Go ahead a use this ppa https://launchpad.net/~neovim-ppa/+archive/ubuntu/unstable since Linux Mint still has 0.4
Closing this since you're using the wrong neovim version. If you need more help you can keep commenting.

[2021-07-27 15:46] #1129 closed

[2021-07-27 17:54] #1131 closed

[2021-07-27 18:25] abzcoding commented on #1134
[code]

[2021-07-27 18:51] abzcoding commented on #1088
should be fixed via #1097

[2021-07-27 18:51] #1088 closed

[2021-07-27 18:52] #1098 closed

[2021-07-27 18:55] abzcoding commented on #1063
@gikari can you test adding this to your `~/.config/lvim/lv-config.lua`:
[code]

[2021-07-27 19:02] arxra commented on #933
The issue with that would still be to run multiple formatters, as most often you want both black and isort, [which null-ls does not support yet](https://github.com/jose-elias-alvarez/null-ls.nvim/issues/56). If I just wanted to have it format with isort I'd bind the above `:!isort %` to some key and have it done.

[2021-07-27 20:16] rebuilt commented on #933
You can run multiple language servers but it gets kind of annoying because it asks you to chose which server you want to run.  But if you want to try it out add this to your lv-config to install efm

[code]

You'll need to `:LspInstall efm`  or `go get github.com/mattn/efm-langserver`.  Then make sure the efm-langserver cmd points to the right location.
It's tricky to set up sometimes.  There are

[2021-07-27 22:43] vlcinsky opened #1137 "Telescope lvim keybinding for Next/Previous item in insert mode are wierd"
### Problem description

Open any Telescope search, e.g. to search a file `<space>f`

See few items and try to select 3rd file from the bottom.

I am used in lists of items to pick from to use <Ctrl-P> and <Ctrl-N> for Previous/Next item movement in the list which is visible.

Current keybinding in LunarVim are surprising as they do not change position in visible list but swap search text to next/

[2021-07-28 03:28] ChristianChiarulli commented on #1137
idk if it's a bug but it's something you could definitely change, what keybinds do you think should cycle history?

[2021-07-28 03:29] ChristianChiarulli commented on #1106
https://github.com/terrortylor/nvim-comment/issues/29

[2021-07-28 04:12] nwaywood commented on #1106
The other option is switching to Kommentary? They seem to support more languages in general and are also more popular (which should mean better community support).

They have toml support https://github.com/b3nj5m1n/kommentary/blob/fe01018a490813a8d89c09947a7ca23fc0e9e728/lua/kommentary/config.lua#L62

[2021-07-28 04:39] pxsanghyo commented on #957
@abzcoding Thanks for that awesome config.
I have a question about setting colors for galaxyline.

Before changing config global from O to lvim, I had this which worked:
[code]

But changing it to this below, does nothing...
[code]

This is my full code (not working...)
[code]

[2021-07-28 05:35] rebuilt commented on #957
Change the colorscheme declaration to

`lvim.colorscheme = "tokyonight"`

[2021-07-28 07:01] colutti commented on #1109
The issue has been fixed with the latest main version

[2021-07-28 07:01] #1109 closed

[2021-07-28 07:12] colutti opened #1139 "[Bug]: Terraform LSP not working on main"
### Problem description

Fresh install from master, the terraform lsp does not work

### LunarVim version

Master

### Neovim version (>= 0.5)

NVIM v0.6.0

### Relevant log output

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/9368892/127279720-bec901c5-9ab1-425c-b687-375373cc70dd.png)

### I have

- [X] Read the readme
- [X] Read the wiki
- [X] Searched for similar

[2021-07-28 07:54] EvgeniyBurdin commented on #1139
I have the same problem.
Ubuntu 18.10
nvim 0.6.0

LSP - python
(lunarvim just installed)

[2021-07-28 08:57] vlcinsky commented on #1137
I would swam keymapping for next/previous history item with next/previous found item.
So for history it would be Ctrl-j and Ctrl-k so at https://github.com/ChristianChiarulli/LunarVim/blob/rolling/lua/core/telescope.lua#L46 it would change from original:
[code]
to
[code]

PS: "Bug" is result of the issue template which seemed to be the most relevant.

[2021-07-28 10:05] eulertour commented on #1075
I found I can stop it with `:RooterToggle`.

[2021-07-28 10:05] #1075 closed

[2021-07-28 10:38] eulertour opened #1140 "[Feature]: Allow overwriting keymaps rather than replacing them"
### Feature motivation

If you add any keybind to `lvim.keys` for a given mode all of the default keybinds for that mode are removed. I feel that it'd be more intuitive for custom keybinds to extend or overwrite the defaults rather than replace them entirely.

### Describe the expected solution

Extending the default keybinds.

### Describe the alternatives you've considered

Copying all of the de

[2021-07-28 11:32] gikari commented on #1063
@abzcoding it does work, however: it becomes enabled when I navigate to cpp file, but stays available even if I navigate to a file with a different file type (e.g. lua). Also, this approach does not allow a nice message in WhichKey (Btw, it would be nice to have a feature to make WhichKey bindings for a particular filetype too).

[2021-07-28 11:36] rebuilt commented on #1063
You have to add the keybinding to the local buffer only.

[2021-07-28 11:39] rebuilt commented on #1063
[code]

[2021-07-28 11:47] gikari commented on #1063
That works, thanks. Still no custom WhichKey message, though.

[2021-07-28 12:10] rebuilt commented on #1063
I think whichkey registers leader bindings before that autocommand has a chance to run.

[2021-07-28 12:56] rebuilt commented on #1063
We are going to walk on the wild side here.  This is going to be super experimental.

Place this in your `lv-config.lua`
[code]

Create the following file `~/.local/share/lunarvim/lvim/lv-user/init.lua`
And place this code inside

[code]
@abzcoding

[2021-07-28 12:57] kylo252 commented on #1063
Try this

[code]

Reference https://github.com/folke/which-key.nvim/issues/135#issuecomment-883158839

[2021-07-28 12:59] rebuilt commented on #1063
@kylo252

Oh that's much better

[2021-07-28 13:25] gikari commented on #1063
Nah. This does not work as expected. It shows the legend "Go To Header" in any buffer, no matter CPP or not.

This does not work at all. If I keep the "lua" extension in the autocommands, it shows the following on lua file loading:
[code]
 If I change it to cpp:
[code]

Clangd breaks (It is not listed in the ```:LspInfo``` at all) and no error message is printed.

[2021-07-28 14:08] qvieth opened #1142 "[Feature]: Oneterm.nvim : Toggleterm + rnvimr + fzf/rg ... in 1 plugin, also it's lua"
https://github.com/LoricAndre/OneTerm.nvim

Please consider adding this…

[2021-07-28 14:16] Oisov opened #1143 "[Bug]: No highlighting for visual mode"
### Problem description

Using lunarvim I do not have any visual indication for visual mode. Meaning whenever I highlight something using `v` no visual change happens. I can still visual yank etc, but it is a bit hard when it does not actually highlight anything. I included a picture where I have visually highlighted the first line in the file, and as you can see (or not see), no visual indication

[2021-07-28 14:25] rebuilt commented on #1143
I imagine it's a transparency thing.  Can you turn off transparency and check again?

[2021-07-28 14:56] kylo252 commented on #1063
This honestly feels like a which-key issue/bug/limitation. I'm not sure how else to solve this while still showing a dynamic entry for it in which-key. I'm sure it's nice to have a super neat keymap list but we, and everyone else basically, have the same issue where some mappings are shown out of context.

BTW, you can should now be able to override `on_attach` for `clangd`, but I think there's so

[2021-07-28 14:59] eo1989 opened #1144 "[Feature]: from wiki, changing galaxy line"
### Feature motivation

The write up regarding changing the galaxyline config doesnt work.

### Describe the expected solution

_No response_

### Describe the alternatives you've considered

_No response_

### Additional context

_No response_

[2021-07-28 15:00] devrrior opened #1145 "[Bug]: I cannot install efm"
### Problem description

When I type ":LspInstall efm", it returns could not install language server for efm

### Check the following

- [X] I am in a git managed directory
- [X] I restarted Neovim after running :LspInstall
- [X] I have a valid language configuration (~/.config/nvim/ftplugin/)
- [X] I checked the options (~/.config/nvim/lv-config.lua)
- [ ] The programs specified by the config are

[2021-07-28 15:04] rebuilt commented on #1145
There are two things to mention.  First, you need to install golang https://golang.org/doc/install.  The installer uses `go get` to install efm.   And the second is that LunarVim no longer uses efm for formatting.  We are still in the process of working out the bugs for efm.  You can still set up efm on your own if you wish but then you'll need to choose which formatter to run every time you save

[2021-07-28 15:10] rebuilt commented on #1144
Which galaxyline elements are you trying to remove and what do your `table.remove` functions look like.  Are you on the lastest rolling release?  Un-comment the line with the print statement `-- print(vim.inspect(gl))` and post the output here.

[2021-07-28 15:10] devrrior commented on #1145
ok, thanks so much.

[2021-07-28 15:10] #1145 closed

[2021-07-28 15:12] #1142 closed

[2021-07-28 15:18] Oisov commented on #1143
I have already tried this (as stated in my initial post). I have tried setting the transparency to 100 (no transparency) and disabling my compositor entirely (picom), neither makes a difference. Nvim keeps working fine while lunarvim refuses to offer highlighting for visual mode.

[2021-07-28 15:38] eo1989 commented on #1144
I followed the wiki to the tee. I am on the latest rolling release.
<img width="1122" alt="Screen Shot 2021-07-28 at 11 37 19" src="https://user-images.githubusercontent.com/7108365/127352401-c3f7675b-55dd-4d95-a6e2-870e6bf25381.png">

[2021-07-28 15:51] rebuilt commented on #1063
It seems to work.

![conditional mappings](https://user-images.githubusercontent.com/16025007/127353863-0eccec9f-1e84-4a53-8ac7-f91ab56b15b4.gif)

[2021-07-28 15:54] rebuilt commented on #1063
I can't actually test the cpp action.  I don't develop in cpp.  But conditionally adding a mapping is there.   I've contained the files to just my own lvim folder.  I put it in this branch https://github.com/rebuilt/lvim/tree/conditional-whichkey

[2021-07-28 15:55] rebuilt commented on #1063
It should work without mucking about in lv-user.  I'd forgotten that's still a gitignored folder.

[2021-07-28 16:01] rebuilt commented on #1145
PS.  Formatting is now provided by null-ls and the language server for your filetype.  For example, if you program in python `:LspInstall python` should be enough to get basic formatting.  For a specific formatter, set it with `lvim.lang.cpp.formatter.exe = "my-formatter"`

[2021-07-28 16:03] rebuilt commented on #1143
Oh.  Sorry, I assumed you were doing this in your `lv-config.lua`
[code]

I was asking you to turn that off to see if the it was a problem with these settings
[code]

[2021-07-28 16:08] rebuilt commented on #1144
That was an issue with an older version of LunarVim.  It should be fixed in rolling.
If you don't feel like upgrading you'll need to require galaxyline explicitly

`local gl = require("galaxyline")`

And also remove or rename 'gl' from the function arguments

[2021-07-28 18:42] rebuilt commented on #1145
You'll also need to set the following in your lv-config
[code]

[2021-07-28 20:23] youdaniel opened #1148 "[Bug]: vue lsp not working"
### Problem description

Opening a vue file shows this:
![image](https://user-images.githubusercontent.com/39450656/127390098-b8ff358b-5e73-48c7-9e76-781822870dfd.png)

### Check the following

- [X] I am in a git managed directory
- [X] I restarted Neovim after running :LspInstall
- [X] I have a valid language configuration (~/.config/nvim/ftplugin/)
- [X] I checked the options (~/.config/nvim/lv

[2021-07-28 20:24] chuckmasucci commented on #1148
I am seeing the exact same thing on current latest `rolling`

[2021-07-28 21:07] devrrior commented on #1145
Thanks for the help, that works. I have another issue related to python LSP, I'm working on a Django project but doesn't work completion and doesn't show definition preview hover, must I open a new issue for that?

[2021-07-28 21:10] rebuilt commented on #1145
Yes please so it's searchable if others have the same problem.

[2021-07-28 22:36] vlcinsky commented on #1137
[Default telescope.nvim mapping](https://github.com/nvim-telescope/telescope.nvim/blob/79644ab67731c7ba956c354bf0545282f34e10cc/lua/telescope/mappings.lua#L12) is also using
[code]

[2021-07-28 22:54] #1148 closed

[2021-07-29 00:32] barlingo opened #1151 "[Bug]: File explorer stops showing hidden files"
### Problem description

Reproduce the problem:
1. Open any file with lvim.
2. Open file explorer using <space><e>
3. Show hidden files on explorer using <H>
4. Change windows back to the original file.
5. Go back to explorer and try hiding .dotfiles using <H> again. It does not work

### LunarVim version

rolling

### Neovim version (>= 0.5)

0.5.0

### Relevant log output

_No response_

### Scr

[2021-07-29 03:41] #1103 closed

[2021-07-29 04:06] jamessouth commented on #1129
This is still happening. On Arch, installed `neovim-0.5.0-1`, ran the install script, it kicked out asking for `pip`, installed `pip`, script runs to completion, no errors, run `nvim` per wiki then `:PackerInstall`, get this error. `:PackerSync` also errors. I tried the steps in [this comment](https://github.com/ChristianChiarulli/LunarVim/issues/198#issuecomment-811658134), still get error. Packe

[2021-07-29 04:20] jamessouth commented on #1129
The wiki install page should be changed to say 'run `lvim` then `:PackerInstall` and/or `:PackerSync`'. `Install` did nothing but it didn't error in `lvim`, `Sync` synced 28 plugins and said 'up to date!'.

[2021-07-29 04:34] rebuilt commented on #1129
The wiki will be purged soon.  It has a lot of outdated information.  Documentation resides here.  https://www.lunarvim.org/01-installing.html#manual-install.  I'll update the wiki with a link to that site.

[2021-07-29 04:37] rebuilt commented on #1129
By default PackerInstall won't trigger a user interface event but it should still download your plugins in the background.  Run PackerStatus to confirm.

[2021-07-29 04:56] ChristianChiarulli commented on #1139
Ok master should have proper terraform support now. The issue we were having was that the filetype is `tf` but some plugins wanted the filetype to be `hcl` but apparently the proper filetype (accepted natively by lspconfig, treesitter, and since my PR has been merged null-ls) is `terraform`. So now LSP should work along with syntax highlighting and autoformat.

[2021-07-29 05:20] colutti commented on #1139
Yes, it is working like a charm. Thank you.

[2021-07-29 05:20] #1139 closed

[2021-07-29 06:27] abzcoding commented on #1100
elm should work on the latest rolling, feel free to reopen the issue if still exists

[2021-07-29 06:27] #1100 closed

[2021-07-29 06:42] abzcoding commented on #1151
what seems to be the issue?
i'm doing this using `H`
![nvim-tree](https://user-images.githubusercontent.com/10992695/127444222-9e97d9fe-a52e-47c3-ac1f-3c81c5345e19.gif)

[2021-07-29 06:48] abzcoding commented on #1027
this has turned into a forum discussion 😅 , feel free to file new issues if you have them after updating to the latest rolling branch

[2021-07-29 06:48] #1027 closed

[2021-07-29 06:50] abzcoding commented on #1021
after moving
`https://github.com/ChristianChiarulli/LunarVim`
to
`https://github.com/LunarVim/LunarVim`
we'll tackle this

[2021-07-29 07:04] abzcoding commented on #930
can you test those changes on rolling or master, a lot of stuff has changed since then
feel free to reopen the issue if is still exists

[2021-07-29 09:15] rebuilt commented on #1144
Problem should be fixed in the latest version.  If it still doesn't work for you, feel free to reopen.

[2021-07-29 11:29] Dan-M commented on #1143
I'm seeing the same issue in a `tmux` session with the `spacegrey` color scheme.
Switching the color scheme resolves the issue.

If I run `lvim` outside of a `tmux` session, I can't replicate this problem even with the `spacegrey` color scheme.

Transparency doesn't seem to be the issue here. I'm using picom and alacritty as well.

![v-select-lvim](https://user-images.githubusercontent.com/859495/

[2021-07-29 12:28] PasiBergman commented on #1101
Submitted a PR  #1159 to fix this

[2021-07-29 12:29] im-AMS commented on #930
How do I set **unnamed** for clipboard options. Im not able to figure out.

[2021-07-29 12:31] abzcoding commented on #930
add this to your `~/.config/lvim/lv-config.lua`

[code]

[2021-07-29 13:04] im-AMS commented on #930
Nope, It doesn't seem to work.
Here is what I tried
- tried `vim.opt.clipboard="unnamed"` It still uses system clipboard
- tried `vim.opt.clipboard=""` It dosen't use system clipboard. Hence I tried mapping
[code]
It doesn't paste to system clipboard if I use the remaping shown above.

But if I do `:nnoremap <Leader>y "+y` and `:vnoremap <Leader>y "+y` it works UNTIL i dont close it(which is obvio

[2021-07-29 13:06] abzcoding commented on #930
`<leader>p` is used inside LV (for showing packer stuff) that is probably why

[2021-07-29 13:07] abzcoding commented on #930
also i just checked the `vim.opt.clipboard="unnamed"` and it works just fine
what os/terminal are you using?

[2021-07-29 13:16] im-AMS commented on #930
Ok I dint see that, but `<Leader>y` dosen't work either.

[2021-07-29 13:17] im-AMS commented on #930
what os/terminal are you using?

Im on macos 11.5 M1 mac Air, iTerm2 Build 3.4.3

[2021-07-29 13:30] abzcoding commented on #930
well i'm gonna reopen this issue in hope that someone might suggest a fix for you

[2021-07-29 13:31] PasiBergman commented on #1101
Issue should be fixed in `rolling` branch/version.

[2021-07-29 14:12] dklymenk commented on #1101
I confirm that the issue is fixed on `rolling` branch. Can't tell if it's actually using `eslint_d`, but feels a lot faster.

Thanks.

[2021-07-29 14:16] abzcoding commented on #1101
Fixed via #1159

[2021-07-29 14:16] #1101 closed

[2021-07-29 16:01] lavixta opened #1165 "[Bug]: Extreme lag when open python ( *py) file"
### Problem description

Hi, i just update new lvim and i have a problem with working with python file. I try other file (lua, js,jsx,ts,.. ) are all normal but when i open py file ( even empty file ) it is extremely lag.

### LunarVim version

0.5.1

### Neovim version (>= 0.5)

0.5.0

### Relevant log output

_No response_

### Screenshots

_No response_

### I have

- [X] Read the readme
- [X]

[2021-07-29 17:31] rebuilt commented on #1144
I've updated the readme with new instructions.

[2021-07-29 18:14] Tastyep commented on #1165
I'm not experiencing this personally, is anyone having the same issue ?

[2021-07-29 18:30] ChristianChiarulli commented on #1165
how big is the project?

[2021-07-29 18:57] jamessouth commented on #1129
Those docs (and the readme) also say to run `nvim` not `lvim`.

There are several packages listed in the `Manual Install` section that are not installed by the `One Command` install script. Are they still necessary?

[2021-07-29 19:47] rebuilt commented on #1129
Can you make a pr against this repo with your suggested changes please.  https://github.com/LunarVim/lunarvim.org

[2021-07-29 19:48] Tastyep commented on #1165
I gave a try on tensorflow, it took maybe 30 secondes to be able to `<space>f` or `<space>st`, but otherwise it was still working great.

[2021-07-29 20:20] rebuilt commented on #1165
![telescope](https://user-images.githubusercontent.com/16025007/127560186-4e0bd069-ff5a-43fd-962f-75fb8d7c88be.gif)

[2021-07-29 20:20] rebuilt commented on #1165
I'm using fzy native.

[2021-07-29 20:22] rebuilt commented on #1165
Put this in lv-config.lua

[code]

And in plugins

[code]

[2021-07-29 20:22] johnchase opened #1167 "Syntax highlighting only works for certain types [Bug]:"
### Problem description

Syntax highlighting is only working for certain types, this is the case in python and javascript. I have not checked other languages.

I have tested this on OSX and Ubuntu 20.04, on Kitty, iterm2, and Windows Terminal. The syntax highllighting was working prior to updating.

Any help is appreciated, and this is an awesome project, thanks for all of the work on it!

## Step

[2021-07-29 20:43] abzcoding commented on #1167
this is by design, to give users the options to choose the langs or set to all
add this to your `~/.config/lvim/lv-config.lua`
[code]

[2021-07-29 20:43] #1167 closed

[2021-07-29 20:54] johnchase commented on #1167
That was it, thank you for your response!

[2021-07-29 21:43] youdaniel commented on #1165
Experiencing some lag too. Basic vim stuff like o, i, :q feel much slower in python files.

[2021-07-29 22:04] numine777 opened #1169 "[Feature]: Expose the ability to set root markers for the LSP"
### Feature motivation

I work in a monorepo for my day job that uses Bazel files to delineate packages and services.  I had worked around this in previous versions of LunarVim by modifying the lspconfigs to include a bespoke list of `root_files`, however, the latest move to lvim has changed a lot.  Nlsp-settings allegedly allows config files to be written in lua rather than json but I have yet to

[2021-07-29 22:10] jamessouth commented on #1129
Ok I'll come up with something for you.

[2021-07-29 22:12] tarkin88 commented on #1165
it's laggy for me too on python files

[2021-07-29 22:26] rebuilt commented on #1165
I tested the speed on my t430.  I can confirm the slowness.  But then I installed the language server and that seemed to speed things up.

Do you have the language server installed?

[code]

[2021-07-29 22:29] rebuilt commented on #1165
I'm also seeing this in the error logs

[code]

[2021-07-29 22:37] numine777 commented on #1165
The issue you're experiencing is almost certainly due to pyright not being able to find the project root properly.  I am experiencing the same issue.  In the past, I've overcome this by configuring pyright to register BUILD.bazel files as root markers, however, it's less straightforward as to where to make this change with the 0.5.0 refactor.  Hence my enhancement request to expose the ability to

[2021-07-29 22:45] youdaniel commented on #1165
Language server is installed. Can confirm that it's pyright unable to find project root, as I'm only experiencing slowness with standalone files.

[2021-07-29 23:14] ChristianChiarulli commented on #1165
interesting, do you think it might be worth upstreaming this?

https://github.com/neovim/nvim-lspconfig

We could expose configuring your own root but tbh I'm pretty sure you already can do this (you just won't get autocomplete to see the root_dir option).

Another thing you could do is `NlspConfig pyright` and try toggling some fo the settings to see if they help.

You could also, add `python` to

[2021-07-29 23:16] ChristianChiarulli commented on #1169
I'm pretty sure you can just `lvim.lang.python.lsp.setup.root_dir = blah` You just won't see autocomplete for it.

[2021-07-29 23:25] numine777 commented on #1169
That does work!  Thank you very much for the fix!

[2021-07-29 23:27] numine777 commented on #1165
[code]

This solution in the lv-config.lua works great for me!

[2021-07-29 23:31] #1169 closed

[2021-07-30 00:00] mjlbach commented on #1165
I don't think we want to support bazel generally... The pyright python rules are pretty standard. We'll add user-overridable local root directories and remove the fallback to util.path.dirname soon-ish (this is usually the most common slowdown, user opens a python file in their home directory and pyright recursively starts indexing /home)

[2021-07-30 00:02] numine777 commented on #1165
My suggestion wasn't specifically to support bazel, just to expose the ability to set the root directories from a list of filenames (root markers).

[2021-07-30 04:06] jamessouth commented on #1129
In the install script, the `install pip` lines have been commented out since they were added and the `installextrapackages` function is never called, which is why I don't have `ripgrep`, `fzf`, `neovim-remote`, or `tree-sitter-cli`. My plan for writing canonical install docs is to more-or-less combine a stripped-down install script (since it is in such flux) with the manual install commands to for

[2021-07-30 07:32] deryrahman commented on #1143
@Oisov Have you tried to change `Visual` colorscheme highlight? Put this on `lv-config`
[code]
Seems like `alt_bg` is not so contrast enough to differentiate between visual highlight color and lvim background color

[2021-07-30 08:25] deryrahman commented on #1140
I think it's a good idea. Just looking into [this line](https://github.com/ChristianChiarulli/LunarVim/blob/176106f2234ef7807918b0c131bbd70df3e7c562/lua/keymappings.lua#L99), if the user has assigned the custom keymap on their `lv-config`, for example `lvim.keys.normal_mode = { ... }`, the default keymap would be skipped. Would be more convenient if we're able to override them.

I've already imple

[2021-07-30 10:41] lavixta commented on #1165
Hey i have tried all above but seem like it is still laggy. Even when i code on empty file, i have followed lunavim for a while and the issue seem to happened with lately null-ls config. I will try to figure it out first, Any one who experience the same issue are you also use MacOS

[2021-07-30 11:26] daiyanze opened #1173 "[Bug]: Error while jumping buffer from .ts(x) / .js(x) files to markdown files"
### Problem description

### Installed Lsp languagues
- typescript
- lua
- json

### How to reproduce
1. Open 1 js file and wait until the LSPs loaded
2. Open 1 markdown file
3. You should see the error

### Quick workaround to suppress the error
Just stop the Lsp

### Some thoughts about the error`
The error message lead me to the Galaxyline settings in which place I found this:
line-214 caused t

[2021-07-30 18:20] sedlund opened #1178 "Use install for new lvim script"
https://github.com/ChristianChiarulli/LunarVim/blob/cb108adec4799dd592b9bf436247bf98ad56807a/utils/installer/install.sh#L115

I have my umask set to 007 so using sudo like this makes the zsh  issue `permission denied` after running `lvim`

use this instead

[2021-07-30 18:44] #1173 closed

[2021-07-30 18:51] abzcoding commented on #1178
does this fix your issue? #1168

[2021-07-30 18:53] sedlund commented on #1178
Yes that would work as well.

[2021-07-30 19:02] abzcoding commented on #1178
Closed via #1168

[2021-07-30 19:02] #1178 closed

[2021-07-30 20:47] williamgoulois commented on #1165
I'm on MacOS too on an old MacbookPro from late 2013
Performance was okay 30 commits ago but now look at this
<img width="1680" alt="Screenshot 2021-07-30 at 22 44 48" src="https://user-images.githubusercontent.com/37271970/127710015-95ced84e-ef38-4ee0-ba94-67fc35bc6673.png">

[2021-07-30 20:56] williamgoulois commented on #1165
Just did a test between 2 commits :

Latest on rolling so at the moment 6f4dd84
[onRolling.log](https://github.com/ChristianChiarulli/LunarVim/files/6909971/onRolling.log)

On an older commit 21971cb (30 commits old)
[onOldRolling.log](https://github.com/ChristianChiarulli/LunarVim/files/6909974/onOldRolling.log)

From 477ms to 846ms !

[2021-07-30 21:19] JakobMielke opened #1180 "[Bug]: Rolling install fails after git clone"
### Problem description

I tried to re-install lvim rolling after removing ```~/.local/share/lunarvim``` with ```rm -rf ~/.local/share/lunarvim``` with ```LVBRANCH=rolling bash <(curl -s https://raw.githubusercontent.com/ChristianChiarulli/lunarvim/rolling/utils/installer/install.sh)``` , however it fails after the git clone finishes.

### LunarVim version

rolling 30 Jul 2021, 22:20

### Neovim v

[2021-07-30 21:50] rebuilt commented on #1180
I can confirm.  I saw this issue today as well.

[2021-07-30 21:52] rebuilt commented on #1180
Did you get it installed ok?   All I had to do was manually run :PackerSync .  You might also have to remove the `~/.config/lvim/plugin` folder.

[2021-07-30 22:13] JakobMielke commented on #1180
Removing ```~/.config/lvim/plugin``` worked, thanks

[2021-07-30 22:13] #1180 closed

[2021-07-30 22:33] Artem-Schander opened #1182 "[Bug]: NvimTree width setting is wrong positioned / [Feature]: NvimTree width should be editable"
### Feature motivation

NvimTree width is set to 30 (inside of `lvim.builtin.nvimtree.show_icons.tree_width`) and is kind of hard coded, since the `toggle_tree` function sets the offset of 31 without respecting the actual width.

### Describe the expected solution

It should be possible to change that value from within lv-config (it is .. kind of)

### Describe the alternatives you've considered

[2021-07-31 02:21] ChristianChiarulli commented on #1165
I wonder if it's null-ls?

[2021-07-31 04:22] #358 closed

[2021-07-31 04:33] #1137 closed

[2021-07-31 04:41] #1151 closed

[2021-07-31 07:01] daiyanze commented on #1173
@abzcoding Thanks! Update confirmed.

[2021-07-31 07:22] cstsunfu commented on #1165
I use myself config, disable lspconfig and change to coc.nvim, everything goes well.

[2021-07-31 09:55] lavixta commented on #1165
i tried but it is still laggy ( only for python )
<img width="116" alt="Screen Shot 2021-07-31 at 9 17 53 AM" src="https://user-images.githubusercontent.com/36840462/127736211-56d71558-c1d9-42ea-943b-dd7dbbebe044.png">
![Uploading Screen Shot 2021-07-31 at 9.17.53 AM.png…]()

[2021-07-31 11:34] kylo252 commented on #1165
That doesn't seem to have disabled it. Can you just comment-out your linters and formatters or set both to `nil` ?
_Assuming you have pulled #1172_

[2021-07-31 11:36] rebuilt commented on #1165
@kylo252 how hard would it be to change to code to actually disable it?

[2021-07-31 11:49] kylo252 commented on #1165
It's off by default after #1078 except for `stylua`. _Unless they defined a linter/formatter._

But to answer your question, it's very simple and can be done in multiple ways:
[code]
Or you can wrap it inside common_on_attach
[code]

[2021-07-31 12:14] kylo252 opened #1187 "[Feature]: Create `:LvimLspInfo`"
# Description

It would be nice to create a custom `LspInfo` like `LspInfoExtended` or `LvimLspInfo` or something. It would show what we should have setup in case there's a problem. This can also show and some other internal info about the config parameters that were sent to the language server.

After merging #1086 we would be to retrieves a list of the currently used null-ls providers by filetyp

[2021-07-31 12:21] jimcornmell commented on #1140
I'm overriding the built-in config for galaxyline completely, see the very end [of this](https://github.com/jimcornmell/LunarVim/blob/master/lv-config.lua) and [this](https://github.com/jimcornmell/LunarVim/blob/master/user.lua).   Is this the correct way to do it?

[2021-07-31 12:37] rebuilt commented on #1187
Maybe also the git commit id.

[2021-07-31 12:42] lavixta commented on #1165
Ah, i  think just my computer has a problem with flake8. When i set O.lang.python.inters[1] = nil, it is not lag anymore . Thanks all for your help

[2021-07-31 12:42] #1165 closed

[2021-07-31 12:47] #1140 closed

[2021-07-31 12:47] abzcoding commented on #1140
Fixed via #1176

[2021-07-31 12:51] jimcornmell opened #1188 "[Bug]: Open 2 buffers with colorizer plugin installed, only second buffer works with this plugin."
### Problem description

- Install colorizer plugin through `lvim.plugins` in `lv-config.lua`

[code]
- Open 2 or more buffers, colorizer works as expected in buffers 2...n, but  not in buffer 1.  I.e. first file not working with colorizer, does not depend on the file so `lvim a.txt b.txt` or `lvim b.txt a.txt` give colorizer working with second txt file (but not the first).

My FULL config is [he

[2021-07-31 14:43] ChristianChiarulli commented on #1188
get rid of the event field and test again.

[2021-07-31 16:32] rebuilt commented on #1187
Anything in here useful?  https://github.com/nvim-lua/lsp-status.nvim

[2021-07-31 16:48] jimcornmell commented on #1188
No change, still first buffer not working.

[2021-07-31 17:15] johanronkko opened #1194 "[Feature]: Add keybindings defined in defualt plugin configs to which-key (if possible?)"
### Feature motivation

When pressing "g" and waiting for which-key to show keybindings for "g", the description for "gi" is that of the default. But we override "gi" with "vim.lsp.buf.implementation()" in the LSP config. See attached image below.

I realize that this is a very minor issue and it's possible that this is an issue that should be brought up with with which-key and not LunarVim? Howev

[2021-07-31 17:58] williamgoulois commented on #1188
I cannot reproduce your bug (tested it without Event field) ?

https://user-images.githubusercontent.com/37271970/127748545-964760ae-0613-4d75-aefc-0c7c9eda73ad.mov

[2021-07-31 18:56] etienne-k opened #1195 "[Bug]: Can't insert tab/spaces with the tab key"
### Problem description

_This issue is related to #1121 and the solution merged with #1130._

I fear the PR leaves us with problems, and hope you don't mind me opening an issue for this.

**Problem 1: missing functionality**

When you open a source file that is not one of the following types, inserting a tab or spaces using the tab key is impossible:
`exclude_filetypes = { "md", "markdown", "mdow

[2021-07-31 19:22] Artem-Schander commented on #1182
Besides that .. if I set `lvim.builtin.nvimtree.quit_on_open = 1` the tree gets closed on file open, but the barbar offset stays. Is there a way to reset the offset in this case?

[2021-07-31 19:23] ChristianChiarulli commented on #1195
Could you test the new rolling, I think I have improved the behavior somewhat. Please let me know if it's missing anything.

[2021-07-31 20:47] etienne-k commented on #1195
You're right, with the latest rolling, I can insert tabs both in normal text files and in source files, and I can still cycle in the autocomplete list with tab! Perfect, thanks a lot!!

[2021-07-31 20:47] #1195 closed

[2021-07-31 22:03] rebuilt commented on #1106
We can also add the active property so users can chose the comment system that best supports their languages.

[2021-07-31 23:44] williamgoulois commented on #1182
For the Feature part I exposed nvimtree width in my PR #1074 can someone review/merge it?

For the Bug I don't know if we can register a callback on close of the tree 🤔

[2021-07-31 23:57] ChristianChiarulli opened #1196 "Replace all `-` and ` ` with `_` for null-ls"
This way we don't confuse the user.

[2021-08-01 04:48] jamessouth commented on #1129
If I submitted a PR for the install script, would it be considered? I can fix typos in the docs if you want, but there would still be a difference between the results of the automatic and manual installs, and thus the docs would not be much improved. I have forked and made some changes and run my local script to finish my own install. So far I have:

* instead of calling `asktoinstallnode` and `as

[2021-08-01 09:37] dklymenk commented on #1107
Hello @ChristianChiarulli , my previous proposal is no longer relevant because of how fast the codebase changes, so here is my latest take on the issue.

I still believe it's a good idea to have your multiple lsp configs stored like this (a php example I tested with):
[code]

However to make it so none of the old single provider configurations break we need some code to normalize them into tables

[2021-08-01 09:47] rynpix opened #1201 "[Feature]: Termux Support"
### Feature motivation

## Android Termux Support
Problem: Can't install lunarvim in termux

### Issues:
  - Termux doesn't have `sudo`
  - `cp: cannot create file '/usr/local/bin' : No such file or directory`

### Describe the expected solution

### Solution
  - Detect termux with the ".termux/" directory (Maybe)
  - Not using `sudo`
  - Using `$HOME/../usr/bin` or `$HOME/.local/bin`(not sure if

[2021-08-01 10:49] rynpix commented on #1201
DISCLAMER: I DIDN'T LEARN BASH, I JUST READ THE 'install.sh' AND DID SOME CHANGES THAT I THINK THEY WORK

[code]

TEST COMMAND: `LVBRANCH=rolling bash install.sh`
it worked on my phone :)

[2021-08-01 11:03] rynpix commented on #1201
### THE 'uninstall.sh'
[code]
NOT TESTED

[2021-08-01 11:29] rynpix commented on #1201
btw here is it: https://github.com/rynpix/LunarVim/tree/rolling/utils/installer
Pls let me know if I should open a pull request

[2021-08-01 11:48] dklymenk commented on #1107
Hello, I have submitted a PR #1204 for this.

[2021-08-01 13:32] jimcornmell commented on #1188
I've been experimenting and I can toggle the behaviour on and off.  So when I load my `user.vim` in `config.lua` I get the following two results:

Result 1: If I load my user file by wrapping it in a on_config_done then colorizer does not load, yet my configuration of colours gets applied, see the yellow todo on line 16.  (I know protecting it with `lvim.builtin.which_key.on_config_done` is wrong/

[2021-08-01 20:16] Oisov commented on #1143
@deryrahman Sorry for the late reply. This fixed my issue

Is this something to consider adding a PR to fix, or will this gets fixed when a new default
colorscheme is picked?

[2021-08-01 21:24] williamgoulois commented on #1188
Ok i investigated the problem which is apparently linked to colorsheme.
We set colorscheme after we load `config.lua` (so after you set your custom colors) which means they are overrided with.

Problem is that we must call colorscheme after plugins are loaded or we break new LunarVim installs.

For reference we load your config here: https://github.com/ChristianChiarulli/LunarVim/blob/fbbf1b22a4ab

[2021-08-01 22:29] tuxflo commented on #930
So you want to yank a visual selection to the sytem clipboard using `<leader>y`? Then you'll need to setup a `vmapping`. My config looks like this:
[code]
As you can see, I'm using the leader key to tell the yank/paste commands to use the system clipboard.

[2021-08-01 23:08] nwaywood commented on #1106
It looks like Kommentary is a superset of what nvim-comment supports so I don't think there would be any downside to switching (assuming its not buggy)

[2021-08-02 06:14] im-AMS commented on #930
Works like a charm!! Thanks!

[2021-08-02 06:14] #930 closed

[2021-08-02 08:23] jimcornmell commented on #1188
Hi @williamgoulois, many, many thanks, that works fine, see line 284 and 285 in this image, correct colours and colorizer working.

![Screenshot_20210802_082930](https://user-images.githubusercontent.com/7923416/127821229-2110d5d4-1120-47b5-98a7-b7c4de4d249f.png)

The snippet at the end of `config.lua` now is:

[code]

I'm still not happy with my wrapper on line 278, what is the correct method?

[2021-08-02 09:35] rebuilt commented on #616
This is no longer relevant.  Perhaps we should make a new issue about lunarvim.org?

[2021-08-02 16:04] #1201 closed

[2021-08-02 19:06] williamgoulois commented on #1188
For your situation (you forked LunarVim) i think the best solution is to move
`vim.cmd('source ~/.config/lvim/user_colors.vim')` to the end of `init.lua`. This will allow you to remove wrapper.

A better solution might be to be able to expose configuration of colors in `config.lua` and then call it in init.lua. What do you think of this @abzcoding, @ChristianChiarulli ?

[2021-08-02 20:51] midnightexigent opened #1214 "More reasonable install dir ?"
The current installation lives in `~/.local/share/lunarvim` which is kind of weird

Any reason it can't be somewhere more common like `~/.lunarvim`, `~/.lvim` or even `~/.config/lvim` with the user config in `~/.config/lvimrc` ?

[2021-08-02 20:59] ChristianChiarulli commented on #1214
I wouldn't recommend putting any config or data directories in the home directory. I'm not sure why you would would want it collocated with your repo since the core of lunarvim should be left unedited by the user, unless you want to fork it or something.

[2021-08-02 21:12] rebuilt commented on #1214
`~/.local/share/` is a standard directory to place these kind of files.  It conforms to the xdg specification

https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2021-08-02 21:13] midnightexigent commented on #1214
I guess it's just not common for config frameworks to be in located in `~/.local/share` (ex. `doom-emacs`, `zsh-znap`, `oh-my-zsh` etc.)

`~/.local/share/lunarvim/site` definitely belongs there tho

[2021-08-02 21:18] rebuilt commented on #1214
The config folder is designed as a place to put user-editable files.  LunarVim has separated out the configuration to `.config/lvim`.  Data files live in $XDG_DATA_HOME which is $HOME/.local/share.  The application is nvim so it gets placed somewhere else.  The way I see it, LunarVim is adhering to the xdg standard.

[2021-08-02 21:38] ChristianChiarulli commented on #1214
They should all probably start conforming to the xdg standard.

[2021-08-02 21:42] #1194 closed

[2021-08-02 21:52] midnightexigent commented on #1214
The standard says that `~/.local/share/` is the location where "user-specific data files should be stored". Which can honestly mean anything  (hell, some apps store the log files there), tho, **usually, apps tend to use this directory to store some sort of state that can be rebuilt whenever deleted** which is why I believe that `~/.local/share/lunarvim/site` definitely belongs there but `lvim` doe

[2021-08-02 22:09] ChristianChiarulli commented on #1214
I understand the familiarity aspect to some degree but the way I see it there are 4 directories I can use (before I use a package manager to install in the future)

`~` <- this is a terrible option because it clutters up your home directory and should be avoided at all costs
`~/.config` <- this is for a users config something they can check into version control and have complete control over
`~/.c

[2021-08-02 23:17] rebuilt commented on #1214
I'll give you my personal opionion because I'm not speaking officially for LunarVim.

You use the word 'app' here to describe LunarVim.  And that gets to a more existential question.  Is LunarVim an app?  When you take away Neovim from LunarVim do you still have an app?

There was a time in the development of unix where the pipe command didn't exist.  All programs were small because they literally

[2021-08-02 23:31] midnightexigent commented on #1214
@ChristianChiarulli : Interesting, cool of you to elaborate. tho crazy on how points of views can differ, how I see it is that multiple folders in the home directory is a perk since it allows you to immediately tell what is installed. Anyways, this seems like a philosophical debate and I understand your reasoning on putting `lunarvim` where it is which further backed by @rebuilt 's comment

About

[2021-08-02 23:37] ChristianChiarulli commented on #1214
@midnightexigent I like the idea, I think during the latest refactor someone from the team noticed with a little tweaking you could pull lunarvim in as a plugin.

I think having some cli commands like `lvim --update` would be extremely valuable and would be a welcome addition. The component idea while a little more difficult to implement would also be really cool (potentially a 2.0 feature).

[2021-08-03 04:54] #980 closed

[2021-08-03 04:57] abzcoding commented on #1182
#1074 is merged, it should be editable now

[2021-08-03 07:43] angryheng opened #1216 "[Bug]:In insert Mode! When I press the tab key, it displays pumvisible()? ":" ""
### Problem description

In insert Mode! When I press the tab key, `it displays pumvisible()? ":" "`

### LunarVim version

rolling

### Neovim version (>= 0.5)

0.6.0

### Relevant log output

_No response_

### Screenshots

![tab](https://user-images.githubusercontent.com/28853495/127977429-6451fa6f-0b1c-42f8-8083-c2fcf60247c7.gif)

### I have

- [X] Read the readme
- [X] Read the wiki
- [X] Sea

[2021-08-03 08:24] #1216 closed

[2021-08-03 08:25] rebuilt commented on #1216
Can run this and paste the results here please `:enew | pu=execute('verbose imap <tab>')`
The result should only contain the code below.  I want to see if you have more than one tab mapping.  Otherwise this new mapping we introduced recently needs to be fixed somehow.

[code]

[2021-08-03 13:43] #1214 closed

[2021-08-03 14:00] abzcoding commented on #616
lunarvim.org

[2021-08-03 14:00] #616 closed

[2021-08-03 14:06] abzcoding commented on #1144
the problem should be fixed i'm doing [this](https://github.com/abzcoding/lvim/blob/4608f2e716ab31161aef2eff2faba01102bbb427/lua/user/galaxyline.lua#L3)
[code]
which works perfectly

[2021-08-03 14:06] #1144 closed

[2021-08-03 14:11] jonathan-raines commented on #945
@rebuilt I just figured out that I lose diagnostics whenever there is a `.rubocop.yml` file in the project directory. This file is used to configure certain aspects of `rubocop`. If that file is present, diagnostics do not work.

Also I've noticed that `rufo` is no longer auto formatting code on save. I noticed the issue just in the past couple of days

[2021-08-03 14:11] abzcoding commented on #1143
@Oisov this is the default theme palette, so there might not be enough contrast between bg and alt_bg
but have an issue open for choosing a default colorscheme
also, feel free to check out  [LunarVim colorschemes](https://github.com/LunarVim/Colorschemes)
![image](https://user-images.githubusercontent.com/10992695/128029945-fb7627bc-6eeb-4ca0-9133-bd4459690a2f.png)

I'm closing this till we find a

[2021-08-03 14:11] #1143 closed

[2021-08-03 14:14] rebuilt commented on #945
Can you add this to your config file please
[code]

[2021-08-03 14:15] abzcoding commented on #945
in the latest `rolling` branch we are using `null-ls` so you can either not config anything and use the Language Server for formatting/linting or if use what rebuilt said if you want  `rufo`

[2021-08-03 14:18] bob3000 opened #1219 "[Bug] No lsp key bindings when language server is set up by plugin"
I'm not sure if this is a bug or a feature but since this commit https://github.com/ChristianChiarulli/LunarVim/commit/77e283bd9c33166937756250918b12e349caf050 I lost my lsp key bindings for the rust_analyzer. I'm using the [rust-tools](https://github.com/simrat39/rust-tools.nvim) plugin which sets up the `rust_analyzer` on it's own. For it to work properly I have to include `lvim.lsp.override = {

[2021-08-03 14:19] jonathan-raines commented on #945
I would prefer to not use rufo. I use to just receive auto formatting on save through rubocop configuration, i.e. if the line was too long it would break the line up on save. But right now the only way I can get auto save in a ruby project is to use rufo for some reason.

Anything I can provide for diagnostics? I am up to date on the latest rolling release. At one time LunarVim did auto format on

[2021-08-03 14:23] gnmearacaun commented on #616
I created a PR [over there](https://github.com/LunarVim/lunarvim.org/pull/20) at https://github.com/LunarVim/lunarvim.org

[2021-08-03 14:27] abzcoding commented on #945
just to be sure, you do have this in your config right?
[code]

[2021-08-03 14:36] rebuilt commented on #945
@abzcoding   Lsp formatting was turned off entirely.

@jonathan-raines Can you try this and see if it works
[code]

I can't test this for reasons, but I think that should work.  Disable rufo if you enabled it

[2021-08-03 14:40] abzcoding commented on #945
can can this works
[code]

[2021-08-03 14:42] jonathan-raines commented on #945
Without `.rubocop.yml`
![image](https://user-images.githubusercontent.com/5840124/128033884-2edcfbfc-e75a-4f6f-b71c-a58c4e57f8db.png)

With `.rubocop.yml` added
![image](https://user-images.githubusercontent.com/5840124/128034404-769c24dc-7f86-40f5-9d15-d211e87e89f7.png)

An empty `.rubocop.yml` still allows diagnostics, so maybe something in the config is messing with diagnostics unless an empty

[2021-08-03 14:43] jonathan-raines commented on #945
I added this to `config.lua` and it does not seem to format on save. These settings are set in `config.lua` `lvim.format_on_save = true` `lvim.lint_on_save = true`

[2021-08-03 14:47] jonathan-raines commented on #945
Okay having a `.rubocop.yml` config file completely borks diagnostics and formatting. I can confirm it works without the `.rubocop.yml` file

[2021-08-03 14:48] abzcoding commented on #945
can you check `~/.cache/nvim/lsp.log`
you might need to file this issue with [solargraph](https://github.com/castwide/solargraph)

[2021-08-03 14:51] jonathan-raines commented on #945
[lsp.log](https://github.com/ChristianChiarulli/LunarVim/files/6925010/lsp.log)

[2021-08-03 14:53] rebuilt commented on #945
If you've been updating with git pull, you might also need to `:PackerSync` to make sure all the plugins are installed correctly.  Also can you double check the syntax of your rubocop.yml  or try a different yml file to verify:   https://github.com/rubocop/rubocop/blob/master/config/default.yml

[2021-08-03 15:00] abzcoding commented on #945
maybe this causes the issue :thinking:
[code]

[2021-08-03 15:03] abzcoding commented on #945
[solargraph LS](https://github.com/neovim/nvim-lspconfig/blob/master/CONFIG.md#solargraph) only works if you have these files on root of your project
[code]

[2021-08-03 15:19] jonathan-raines commented on #945
The issue came from the `.rubocop.yml` file. I still don't know what was formatted incorrectly but commenting out everything and adding everything line by line and now it works with my rubocop config file. Something must not have been indented correctly and was silently crashing.

[2021-08-03 15:47] rebuilt commented on #945
@jonathan-raines Do you have any interest in providing a ruby specific config for the documentation site?

[2021-08-03 16:39] #1182 closed

[2021-08-03 21:21] rebuilt commented on #945
Do you have rubocop-rspec and rubocop-rails in your Gemfile?  Have you `bundle install` ed them?  Are they available in your path?

[2021-08-03 23:17] kylo252 commented on #1219
They live inside `common_on_attach()` now. can you not use it with your current setup?

[2021-08-04 03:05] ChristianChiarulli commented on #1106
I will explore kommentary in the future, for now I have fixed the toml comment string.

[2021-08-04 03:05] #1106 closed

[2021-08-04 03:10] ChristianChiarulli commented on #907
there is now a check to see if git is installed.

[2021-08-04 03:10] #907 closed

[2021-08-04 03:11] ChristianChiarulli commented on #933
closing because this isn't a bug, when null-ls supports multiple formatters we will implement this feature.

[2021-08-04 03:11] #933 closed

[2021-08-04 03:13] ChristianChiarulli commented on #1219
pls link your config and I will send you and example using rust tools with an override at some point this week or next.

[2021-08-04 05:31] abzcoding commented on #1219
@bob3000
you can set up rust_tools like [this](https://github.com/abzcoding/lvim/blob/main/lua/user/rust_tools.lua) to use the keybindings as well

[2021-08-04 06:04] abzcoding commented on #418
we now support perttierd as a part of null-ls

[2021-08-04 06:04] #418 closed

[2021-08-04 06:05] abzcoding commented on #482
https://www.lunarvim.org/plugins/#example

[2021-08-04 06:05] #482 closed

[2021-08-04 06:55] #1188 closed

[2021-08-04 07:26] ahmedkhalf opened #1223 "[Bug]: Very slow lua lsp when typing text in insert mode and opening file"
### Problem description

https://user-images.githubusercontent.com/36672196/128137221-f366d95b-1897-47e7-969a-806c213c603a.mp4

I am hoping this video can show the latency of the Lua LSP whenever I type <enter> <tab> or or "." or anything to do with autocompletion rly.

This doesn't seem to happen with python though. only Lua LSP is extremely slow for me.
Furthermore, this lag also happens when op

[2021-08-04 07:43] vlcinsky commented on #933
For me it works now with both `isort` and `black` being configured as python formatters in my (lv-)config.lua:

[code]
I plan to create PR with these settings being default ones for Python.

[2021-08-04 07:47] ahmedkhalf commented on #910
Hello, author of lsp-rooter.nvim here 👋. I am currently developing a plugin called [project.nvim](https://github.com/ahmedkhalf/project.nvim) which I believe will help resolve this issue.

The goal of the project is to:
- Create a faster and better version of vim-rooter by enabling LSP root dirs as well as asynchronously search the file system with libuv for manual selection - for those files with

[2021-08-04 08:00] vlcinsky opened #1225 "[Feature]: Where applicable, provide some default formatters and linters."
### Feature motivation

The LunarVim concept is to serve out of the box.

Current configuration is missing formatters and linters for most of languages.

### Describe the expected solution

Where applicable, configure some generally used formatters and linters for each language.

This way user can get well configured editor from very first moment while having options to configure different formatt

[2021-08-04 08:15] bob3000 commented on #1219
@kylo252 I saw that the keybindings are now set by this one function but I don't see how I could call the function with the necessary arguments if lspconfig is not involved. Any suggestions?

@ChristianChiarulli https://github.com/bob3000/dotfiles/blob/linux/conf/lv-config.lua :pray:

@abzcoding I basically took your config as a blueprint when I set up the rust tools. It should be broken now just

[2021-08-04 08:19] abzcoding commented on #1219
@bob3000 mine works just fine
![rust](https://user-images.githubusercontent.com/10992695/128147198-0b3a5532-95e0-4a2a-8326-2bae5d8e7720.gif)

[2021-08-04 08:22] kylo252 commented on #1219
We can expose `add_lsp_buffer_keybindings()` if you feel it's useful. The reason I moved these away from the default config is two folds:

1- These won't do anything if LSP isn't working
2- If they only work when a language server is attached, then they are better set as a local buffer binding.

This is all according to the examples from [lspconfig](https://github.com/neovim/nvim-lspconfig/blob/ma

[2021-08-04 08:30] kylo252 commented on #1219
@bob3000, You're missing the `server` argument in your `lv-config.lua`

https://github.com/bob3000/dotfiles/blob/e4b3aaa20405af7cbcf23d08d90aa3ada8d934b5/conf/lv-config.lua#L70-L91

You need to add the extra config flags as @abzcoding has in his config

[code]

reference: https://github.com/simrat39/rust-tools.nvim